<div class="advantage">
	<!--Десктопная версия-->
	<div class="uk-container uk-padding-remove uk-container-center advantage__desctop xl_l-v">
		<div class="uk-grid">
			<div class="uk-width-1-3 uk-text-center advantage__desctop__block">
				<img src="assets/images/blue_disc.png" alt="">
				<h2>Гарантия<br>качества</h2>
				<p> Доступная <b>база</b> гарантированно <br>
					<b>качественных документов. <br>
						Подготовка документа <br>
					занимает несколько минут.</b><br>
					Ответьте на вопросы сервиса <br>
					и получите гарантированно <br>
					качественный документ.
				</p>
			</div>
			<div class="uk-width-1-3 uk-text-center advantage__desctop__block">
				<img src="assets/images/blue_disc.png" alt="">
				<h2>Быстрый<br>результат</h2>
				<p> 
					Не тратьте время на заполнение <br>
					реквизитов. Doczilla это сделает <br>
					автоматически.<b> Ошибки <br>
						при составлении документа <br>
					исключены.</b> Теперь больше нет <br>
					необходимости многократно <br>
					проверять документ перед <br>
					его подписанием.
				</p>
			</div>
			<div class="uk-width-1-3 uk-text-center advantage__desctop__block">
				<img src="assets/images/blue_disc.png" alt="">
				<h2>Юридическая <br>консультация</h2>
				<p> Возник вопрос — обратитесь <br>
					к юристу онлайн: закажите <br>
					обратный звонок и мы <br>
					обязательно перезвоним вам. Юридические консультации <br>
					сервиса Doczilla — быстрый <br>
					и качественный способ решения <br>
					ваших вопросов.
				</p>
			</div>
		</div>
	</div>
	<!--/Десктопная версия-->

	<!--Мобильная версия версия-->
	<div class="advantage__mobile">
		<div class="mobile-slider uk-slidenav-position"
		data-uk-slideshow="{animation: 'scroll', autoplay: false}">
		<ul class="uk-slideshow">
			<li>
				<div class="advantage__mobile__block uk-text-center">
					<img src="assets/images/blue_disc.png" alt="">
					<h2>Гарантия качества</h2>
					<p> Доступная <b>база</b> гарантированно 
						<b>качественных документов. 
						Подготовка документа 
						занимает несколько минут.</b>
						Ответьте на вопросы сервиса
						и получите гарантированно 
						качественный документ.
					</p>
				</div>
			</li>
			<li>
				<div class="advantage__mobile__block uk-text-center">
					<img src="assets/images/blue_disc.png" alt="">
					<h2>Быстрый результат</h2>
					<p> 
						Не тратьте время на заполнение 
						реквизитов. Doczilla это сделает 
						автоматически.<b> Ошибки 
						при составлении документа 
						исключены.</b> Теперь больше нет 
						необходимости многократно 
						проверять документ перед 
						его подписанием.
					</p>
				</div>
			</li>
			<li>
				<div class="advantage__mobile__block uk-text-center">
					<img src="assets/images/blue_disc.png" alt="">
					<h2>Юридическая консультация</h2>
					<p> Возник вопрос — обратитесь 
						к юристу онлайн: закажите 
						обратный звонок и мы 
						обязательно перезвоним вам. Юридические консультации 
						сервиса Doczilla — быстрый 
						и качественный способ решения 
						ваших вопросов.
					</p>
				</div>
			</li>
		</ul>
		<a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous"
		data-uk-slideshow-item="previous"></a>
		<a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next"
		data-uk-slideshow-item="next"></a>
		<ul class="uk-dotnav uk-dotnav-contrast uk-flex-center">
			<li data-uk-slideshow-item="0"><a href=""></a></li>
			<li data-uk-slideshow-item="1"><a href=""></a></li>
			<li data-uk-slideshow-item="2"><a href=""></a></li>
		</ul>
	</div>
</div>
<!--/Мобильная версия версия-->
</div>