<div class="advice">
	<div class="uk-container uk-padding-remove uk-container-center advice__desctop xl_l-v">
		<div class="advice__description">
			<h2>Будем рады сотрудничеству!</h2>
			<p>
				<img src="promo/promo-assets/images/quot.png" alt="">

				Возник вопрос к юристу и вы не знаете к кому обратиться? <br>
				Просто закажите консультацию в удобное для вас время! <br>
				Мы обязательно свяжемся с Вами и поможем найти решение!
			</p>
			<h3>Кирилл Буряков</h3>
			<p>партнер Lex Borealis</p> 
			<br>
			 <a href="DYNAMIC_URL_ADVICES" class="button button--green" onclick="yaCounter42132919.reachGoal('mp-get-advice2'); return true;">Получить консультацию</a> 
		</div>
	</div>

		<div class="uk-container uk-padding-remove uk-container-center advice__mobile m_s-v">
		<div class="advice__description">
			<h2>Будем рады <br> сотрудничеству!</h2>
			<p>
				<img src="promo/promo-assets/images/quot.png" alt="">
			Возник вопрос к юристу и вы не знаете к кому обратиться? <br>
				Просто закажите консультацию в удобное для вас время! <br>
				Мы обязательно свяжемся с Вами и поможем найти решение! 
			</p>
			<br>
			<img class="portrait" src="promo/promo-assets/images/kirill-m.png" alt="">
			<h3>Кирилл Буряков</h3>
			<p>партнер Lex Borealis</p> 
			<br>
			 <a href="DYNAMIC_URL_ADVICES" class="button button--green" onclick="yaCounter42132919.reachGoal('mp-get-advice2'); return true;">Получить консультацию</a> 
		</div>
	</div>

</div>