<div class="calc">
	<div class="uk-container uk-padding-remove uk-container-center">
		<table>
			<thead>
				<td></td>
				<td class="title-tariff title-tariff--a">
					<div>
						<p>
							Птеродактиль<br>
							<span>тариф</span>
						</p>
					</div>
				</td>
				<td></td>
				<td></td>
				<td class="title-tariff title-tariff--b">
					<div>
						<p>
							Мастодонт<br>
							<span>тариф</span>
						</p>
					</div>
				</td>
				<td></td>
				<td></td>
				<td class="title-tariff title-tariff--c">
					<div>
						<p>
							Тираннозавр<br>
							<span>тариф</span>
						</p>
					</div>
				</td>
				<td></td>
			</thead>
			<tr>
				<td class="name-row">
					Абонентская  плата
				</td>
				<td class="column column--a column--active">
					Нет
				</td>  <!--для активной колонки добавляем на  класс "column--active" -->
				<td class="divider divider--left"></td>
				<td class="divider"></td>
				<td class="column column--b">
					от 1000 руб.
				</td>
				<td class="divider divider--left"></td>
				<td class="divider"></td>
				<td class="column column--c">
					от 1300 руб.
				</td>
				<td class="divider divider--left"></td>
				<!--Правая часть калькулятора-->
				<td rowspan="9" class="calc__totals">
					<div></div>
				</td>
				<!--/Правая часть калькулятора-->
			</tr>
			<tr> 
				<td class="name-row filling">
					Формат экспорта
				</td>
				<td class="column column--a column--active">
					MS Word,<br>OpenDoc
				</td>
				<td class="divider filling divider--left"></td>
				<td class="divider filling"></td>
				<td class="column column--b">
					MS Word,<br>OpenDoc
				</td>
				<td class="divider filling divider--left"></td>
				<td class="divider filling"></td>
				<td class="column column--c">
					MS Word,<br>OpenDoc
				</td>
				<td class="divider divider--left"></td>
			</tr>
			<tr>
				<td class="name-row">
					База стандартных документов
				</td>
				<td class="column column--a column--active">
					Доп. плата
				</td>
				<td class="divider divider--left"></td>
				<td class="divider"></td>
				<td class="column column--b">
					Да
				</td>
				<td class="divider divider--left"></td>
				<td class="divider"></td>
				<td class="column column--c">
					Да
				</td>
				<td class="divider divider--left"></td>
			</tr>
			<tr >
				<td class="name-row filling">
					База документов	уровня «эксперт»
				</td>
				<td class="column column--a column--active">
					Доп. плата
				</td>
				<td class="divider filling divider--left"></td>
				<td class="divider filling"></td>
				<td class="column column--b">
					Доп. плата
				</td>
				<td class="divider filling divider--left"></td>
				<td class="divider filling"></td>
				<td class="column column--c">
					Да
				</td>
				<td class="divider divider--left"></td>
			</tr>
			<tr>
				<td class="name-row">
					Автозаполнение полей
				</td>
				<td class="column column--a column--active">
					Да
				</td> 
				<td class="divider divider--left"></td>
				<td class="divider"></td>
				<td class="column column--b">
					Да
				</td>
				<td class="divider divider--left"></td>
				<td class="divider"></td>
				<td class="column column--c">
					Да
				</td>
				<td class="divider divider--left"></td>
			</tr>
			<tr>
				<td class="name-row filling">
					Количество копий по шаблону
				</td>
				<td class="column column--a column--active">
					1
				</td>
				<td class="divider filling divider--left"></td>
				<td class="divider filling"></td>
				<td class="column column--b">
					Не ограничено
				</td>
				<td class="divider filling divider--left"></td>
				<td class="divider filling"></td>
				<td class="column column--c">
					Не ограничено
				</td>
				<td class="divider divider--left"></td>
			</tr>
			<tr>
				<td class="name-row">
					Совместная работа над документом
				</td>
				<td class="column column--a column--active">
					Нет
				</td>
				<td class="divider divider--left"></td>
				<td class="divider"></td>
				<td class="column column--b">
					Да
				</td>
				<td class="divider divider--left"></td>
				<td class="divider"></td>
				<td class="column column--c">
					Да
				</td>
				<td class="divider divider--left"></td>
			</tr>
			<tr>
				<td class="name-row filling">
					Группы пользователей
				</td>
				<td class="column column--a column--active">
					Нет
				</td>
				<td class="divider filling divider--left"></td>
				<td class="divider filling"></td>
				<td class="column column--b">
					Да
				</td>
				<td class="divider filling divider--left"></td>
				<td class="divider filling"></td>
				<td class="column column--c">
					Да
				</td>
				<td class="divider divider--left"></td>
			</tr>
			<tr>
				<td class="name-row">
					Юридические консультации
				</td>
				<td class="column column--a column--active">
					Да
				</td>
				<td class="divider--left"></td>
				<td class="divider"></td>
				<td class="column column--b">
					Да
				</td>
				<td class="divider divider--left"></td>
				<td class="divider"></td>
				<td class="column column--c">
					Да
				</td>
				<td class="divider divider--left"></td>
			</tr>
		</table>
	</div>
</div>