<div class="calc">
	<div class="uk-container uk-padding-remove uk-container-center xl_l-v">
		<table>
			<thead>
				<td></td>
				<td class="title-tariff title-tariff--a">
					<div>
						<p>
							Птеродактиль<br>
							<span>тариф</span>
						</p>
					</div>
				</td>
				<td></td>
				<td></td>
				<td class="title-tariff title-tariff--b">
					<div>
						<p>
							Мастодонт<br>
							<span>тариф</span>
						</p>
					</div>
				</td>
				<td></td>
				<td></td>
				<td class="title-tariff title-tariff--c">
					<div>
						<p>
							Тираннозавр<br>
							<span>тариф</span>
						</p>
					</div>
				</td>
				<td></td>
			</thead>
			<tr>
				<td class="name-row">
					Абонентская  плата
				</td>
				<td class="column column--a column--active">
					Нет
				</td>  <!--для активной колонки добавляем на  класс "column--active" -->
				<td class="divider divider--left"></td>
				<td class="divider"></td>
				<td class="column column--b">
					от 1000 руб.
				</td>
				<td class="divider divider--left"></td>
				<td class="divider"></td>
				<td class="column column--c">
					от 1300 руб.
				</td>
				<td class="divider divider--left"></td>
				<!--Правая часть калькулятора-->
				<td rowspan="9" class="calc__totals">
					<div>
						<h4>Тариф</h4>
						<a href="" class="button button--green button--green-hover ">Птеродактиль</a> <!--у активной кнопки заменить button--white на  button--green-->
						<a href="" class="button button--white button--green-hover ">Мастодонт</a>
						<a href="" class="button button--white button--green-hover ">Тираннозавр</a>
						<div class="desc">
					 		Тариф для тех, кому не приходится <br>
							сталкиваться с бумажной <br>
							волокитой ежедневно. Доступ <br>
							ко всей базе юридических <br>
							документов Doczilla без <br>
							абонентской платы, платите  <br>
							только за нужные вам документы.  

							<!-- Ежедневная подготовка документов больше не будет вас удручать. Получите неограниченный доступ ко всем документам стандартного типа <br> с тарифом «Мастодонт». -->

							<!-- Ультимативное решение всех проблем с оформлением юридических документов любого уровня. Безграничный доступ <br> ко всей базе сервиса Doczilla.  --> 
						</div>
						<div class="select-date">
							<span>Количество месяцев</span>
							<ul>
								<li><a class="month" href="">1</a></li>
								<li><a class="month month--active" href="">3</a></li>
								<li><a class="month" href="">6</a></li>
								<li><a class="month" href="">12</a></li>
							</ul>
							<i>Цена за 1 месяц: 1000 руб.</i>
						</div>
						<div class="total-sum">
							<div>
								<span class="saving">Экономия: 4000 руб.</span>
								<span class="total-price">Итого: 8000 руб.</span>
							</div>
						</div>
						<a href="" class="button button--green button--hover-light">Купить</a> 
					</div>
				</td>
				<!--/Правая часть калькулятора-->
			</tr>
			<tr> 
				<td class="name-row filling">
					Формат экспорта
				</td>
				<td class="column column--a column--active">
					MS Word,<br>OpenDoc
				</td>
				<td class="divider filling divider--left"></td>
				<td class="divider filling"></td>
				<td class="column column--b">
					MS Word,<br>OpenDoc
				</td>
				<td class="divider filling divider--left"></td>
				<td class="divider filling"></td>
				<td class="column column--c">
					MS Word,<br>OpenDoc
				</td>
				<td class="divider divider--left"></td>
			</tr>
			<tr>
				<td class="name-row">
					База стандартных документов
				</td>
				<td class="column column--a column--active">
					Доп. плата
				</td>
				<td class="divider divider--left"></td>
				<td class="divider"></td>
				<td class="column column--b">
					Да
				</td>
				<td class="divider divider--left"></td>
				<td class="divider"></td>
				<td class="column column--c">
					Да
				</td>
				<td class="divider divider--left"></td>
			</tr>
			<tr >
				<td class="name-row filling">
					База документов	уровня «эксперт»
				</td>
				<td class="column column--a column--active">
					Доп. плата
				</td>
				<td class="divider filling divider--left"></td>
				<td class="divider filling"></td>
				<td class="column column--b">
					Доп. плата
				</td>
				<td class="divider filling divider--left"></td>
				<td class="divider filling"></td>
				<td class="column column--c">
					Да
				</td>
				<td class="divider divider--left"></td>
			</tr>
			<tr>
				<td class="name-row">
					Автозаполнение полей
				</td>
				<td class="column column--a column--active">
					Да
				</td> 
				<td class="divider divider--left"></td>
				<td class="divider"></td>
				<td class="column column--b">
					Да
				</td>
				<td class="divider divider--left"></td>
				<td class="divider"></td>
				<td class="column column--c">
					Да
				</td>
				<td class="divider divider--left"></td>
			</tr>
			<tr>
				<td class="name-row filling">
					Количество копий по шаблону
				</td>
				<td class="column column--a column--active">
					1
				</td>
				<td class="divider filling divider--left"></td>
				<td class="divider filling"></td>
				<td class="column column--b">
					Не ограничено
				</td>
				<td class="divider filling divider--left"></td>
				<td class="divider filling"></td>
				<td class="column column--c">
					Не ограничено
				</td>
				<td class="divider divider--left"></td>
			</tr>
			<tr>
				<td class="name-row">
					Совместная работа над документом
				</td>
				<td class="column column--a column--active">
					Нет
				</td>
				<td class="divider divider--left"></td>
				<td class="divider"></td>
				<td class="column column--b">
					Да
				</td>
				<td class="divider divider--left"></td>
				<td class="divider"></td>
				<td class="column column--c">
					Да
				</td>
				<td class="divider divider--left"></td>
			</tr>
			<tr>
				<td class="name-row filling">
					Группы пользователей
				</td>
				<td class="column column--a column--active">
					Нет
				</td>
				<td class="divider filling divider--left"></td>
				<td class="divider filling"></td>
				<td class="column column--b">
					Да
				</td>
				<td class="divider filling divider--left"></td>
				<td class="divider filling"></td>
				<td class="column column--c">
					Да
				</td>
				<td class="divider divider--left"></td>
			</tr>
			<tr>
				<td class="name-row">
					Юридические консультации
				</td>
				<td class="column column--a column--active">
					Да
				</td>
				<td class="divider--left"></td>
				<td class="divider"></td>
				<td class="column column--b">
					Да
				</td>
				<td class="divider divider--left"></td>
				<td class="divider"></td>
				<td class="column column--c">
					Да
				</td>
				<td class="divider divider--left"></td>
			</tr>
		</table>
	</div>
</div>