<div class="calc">
	<div class="uk-container uk-padding-remove uk-container-center calc__desctop xl_l-v">
		<table>
			<thead>
				<td></td>
				<td class="title-tariff title-tariff--a js-column-pterodactyl">
					<div>
						<p>
							Птеродактиль<br>
							<span>тариф</span>
						</p>
					</div>
				</td>
				<td></td>
				<td></td>
				<td class="title-tariff title-tariff--b js-column-mastodon column--active">
					<div>
						<p>
							Мастодонт<br>
							<span>тариф</span>
						</p>
					</div>
				</td>
				<td></td>
				<td></td>
				<td class="title-tariff title-tariff--c js-column-tyrannosaurus">
					<div>
						<p>
							Тираннозавр<br>
							<span>тариф</span>
						</p>
					</div>
				</td>
				<td></td>
				<td></td>
			</thead>
			<tr>
				<td class="name-row">
					Абонентская  плата
				</td>
				<td class="column column--a js-column-pterodactyl">
					Нет
				</td>  <!--для активной колонки добавляем на  класс "column--active" -->
				<td class="divider divider--left"></td>
				<td class="divider"></td>
				<td class="column column--b js-column-mastodon column--active">
					от 1000 руб.
				</td>
				<td class="divider divider--left"></td>
				<td class="divider"></td>
				<td class="column column--c js-column-tyrannosaurus">
					от 1300 руб.
				</td>
				<td class="divider divider--left"></td>
				<!--Правая часть калькулятора-->
				<td rowspan="9" class="calc__desctop__totals">
					<div>
						<h4>Тариф</h4>
						<span class="button button--white button--green-hover js-button-pterodactyl">Птеродактиль</span> <!--у активной кнопки заменить button--white на  button--green-->
						<span href="#" class="button button--green button--green-hover js-button-mastodon">Мастодонт</span>
						<span href="#" class="button button--white button--green-hover js-button-tyrannosaurus">Тираннозавр</span>
						<div class="desc js-tariff-description">
							Ежедневная подготовка документов больше не будет  <br>вас удручать. Получите неограниченный доступ ко всем документам стандартного типа <br> с тарифом «Мастодонт». 
						</div>
						<div class="select-date">
							<div class="js-months-area"></div> <!--добавляем при активном птеродактиле-->
							<span>Количество месяцев</span>
							<ul>
								<li><span class="month js-month" href="">1</span></li>
								<li><span class="month js-month" href="">3</span></li>
								<li><span class="month js-month" href="">6</span></li>
								<li><span class="month js-month month--active" href="">12</span></li>
							</ul>
							<i class="js-price-per-month">Цена за 1 месяц: 1 000 руб.</i>
						</div>
						<div class="total-sum">
							<div class="total-sum__wrapper">
								<div class="top-elem">
									<div class="saving-small js-economy-small" style="display:none;">Экономьте, выбирая  <br>
									больший срок использования</div>
									<div class="saving-big js-economy-big">Экономия: 8 400 руб.</div>
								</div>
								<div class="bottom-elem js-price">
									Итого: 12 000 руб.
								</div>
							</div>
						</div>
						<a href="DYNAMIC_URL_TARIFFS" class="button button--green button--hover-light js-pterodactyl-selected" style="display:none;" onclick="yaCounter42132919.reachGoal('mp-buy'); return true;">Начать работу</a> <!--при активном птеродактиле-->
						<a href="DYNAMIC_URL_TARIFFS?tariff=2&months=3" class="button button--green button--hover-light js-mastodon-tyrannosaurus-selected" onclick="yaCounter42132919.reachGoal('mp-buy'); return true;">Купить</a> <!--при активном птеродактиле  или тираннозавре/-->
					</div>
				</td>
				<!--/Правая часть калькулятора-->
			</tr>
			<tr> 
				<td class="name-row filling">
					Формат экспорта
				</td>
				<td class="column column--a js-column-pterodactyl">
					MS Word,<br>OpenDoc
				</td>
				<td class="divider filling divider--left"></td>
				<td class="divider filling"></td>
				<td class="column column--b js-column-mastodon column--active">
					MS Word,<br>OpenDoc
				</td>
				<td class="divider filling divider--left"></td>
				<td class="divider filling"></td>
				<td class="column column--c js-column-tyrannosaurus">
					MS Word,<br>OpenDoc
				</td> 
				<td class="divider divider--left"></td>
			</tr>
			<tr>
				<td class="name-row">
					<i data-uk-modal="{target:'#base-docs'}">
						<span>База стандартных документов</span>
						&nbsp;&nbsp;<span class="doc-icon doc-icon-question"></span>
					</i>
				</td>
				<td class="column column--a js-column-pterodactyl">
					Доп. плата
				</td>
				<td class="divider divider--left"></td>
				<td class="divider"></td>
				<td class="column column--b js-column-mastodon column--active">
					Да
				</td>
				<td class="divider divider--left"></td>
				<td class="divider"></td>
				<td class="column column--c js-column-tyrannosaurus">
					Да
				</td>
				<td class="divider divider--left"></td>
			</tr>
			<tr >
				<td class="name-row filling">
					<i data-uk-modal="{target:'#exp-docs'}">
						<span>База документов уровня «эксперт»</span>
						&nbsp;&nbsp;<span class="doc-icon doc-icon-question"></span>
					</i>
				</td>
				<td class="column column--a js-column-pterodactyl">
					Доп. плата
				</td>
				<td class="divider filling divider--left"></td>
				<td class="divider filling"></td>
				<td class="column column--b js-column-mastodon column--active">
					Доп. плата
				</td>
				<td class="divider filling divider--left"></td>
				<td class="divider filling"></td>
				<td class="column column--c js-column-tyrannosaurus">
					Да
				</td>
				<td class="divider divider--left"></td>
			</tr>
			<tr>
				<td class="name-row">
					<i data-uk-modal="{target:'#auto-field'}">
						<span>Автозаполнение полей</span>
						&nbsp;&nbsp;<span class="doc-icon doc-icon-question"></span>
					</i>
				</td>
				<td class="column column--a js-column-pterodactyl">
					Да
				</td> 
				<td class="divider divider--left"></td>
				<td class="divider"></td>
				<td class="column column--b js-column-mastodon column--active">
					Да
				</td>
				<td class="divider divider--left"></td>
				<td class="divider"></td>
				<td class="column column--c js-column-tyrannosaurus">
					Да
				</td>
				<td class="divider divider--left"></td>
			</tr>
			<tr>
				<td class="name-row filling">
					Количество копий по шаблону
				</td>
				<td class="column column--a js-column-pterodactyl">
					1
				</td>
				<td class="divider filling divider--left"></td>
				<td class="divider filling"></td>
				<td class="column column--b js-column-mastodon column--active">
					Не ограничено
				</td>
				<td class="divider filling divider--left"></td>
				<td class="divider filling"></td>
				<td class="column column--c js-column-tyrannosaurus">
					Не ограничено
				</td>
				<td class="divider divider--left"></td>
			</tr>
			<tr>
				<td class="name-row">	
						<i data-uk-modal="{target:'#share-doc'}">
						<span>Совместная работа над документом</span>
						&nbsp;&nbsp;<span class="doc-icon doc-icon-question"></span>
					</i>
				</td>
				<td class="column column--a js-column-pterodactyl">
					Нет
				</td>
				<td class="divider divider--left"></td>
				<td class="divider"></td>
				<td class="column column--b js-column-mastodon column--active">
					Да
				</td>
				<td class="divider divider--left"></td>
				<td class="divider"></td>
				<td class="column column--c js-column-tyrannosaurus">
					Да
				</td>
				<td class="divider divider--left"></td>
			</tr>
			<tr>
				<td class="name-row filling">
					<i data-uk-modal="{target:'#user-group'}">
						<span>Группы пользователей</span>
						&nbsp;&nbsp;<span class="doc-icon doc-icon-question"></span>
					</i>
				</td>
				<td class="column column--a js-column-pterodactyl">
					Нет
				</td>
				<td class="divider filling divider--left"></td>
				<td class="divider filling"></td>
				<td class="column column--b js-column-mastodon column--active">
					Да
				</td>
				<td class="divider filling divider--left"></td>
				<td class="divider filling"></td>
				<td class="column column--c js-column-tyrannosaurus">
					Да
				</td>
				<td class="divider divider--left"></td>
			</tr>
			<tr>
				<td class="name-row">				
						<i data-uk-modal="{target:'#advice'}">
						<span>Юридические консультации</span>
						&nbsp;&nbsp;<span class="doc-icon doc-icon-question"></span>
				</td>
				<td class="column column--a js-column-pterodactyl">
					Да
				</td>
				<td class="divider--left"></td>
				<td class="divider"></td>
				<td class="column column--b js-column-mastodon column--active">
					Да
				</td>
				<td class="divider divider--left"></td>
				<td class="divider"></td>
				<td class="column column--c js-column-tyrannosaurus">
					Да
				</td>
				<td class="divider divider--left"></td>
			</tr>		
		</table>
	</div>

	<!--Мобильная версия-->
	<div class="calc__mobile m_s-v">
		<div class="mobile-slider uk-slidenav-position"
		data-uk-slideshow="{animation: 'scroll', autoplay: true}">
		<ul class="uk-slideshow">
			<li>
				<table>
					<tr>
						<td colspan="2"  class="head-title">
							<div>
								<h3>Птеродактиль</h3>
								<span>тариф</span>	
							</div>							
						</td>
					</tr>
					<tr>
						<td>
							Абонентская плата
						</td>
						<td>
							Да
						</td>
					</tr>
					<tr>
						<td>Формат экспорта</td>
						<td>MS Word, OpenDoc</td>
					</tr>
					<tr>
						<td>База стандартных документов</td>
						<td>Доп. плата</td>
					</tr>
					<tr>
						<td>База документов	уровня «эксперт»</td>
						<td>Доп. плата</td>
					</tr>
					<tr>
						<td>Автозаполнение полей</td>
						<td>Да</td>
					</tr>
					<tr> 
						<td>Количество копий по шаблону</td>
						<td>1</td>
					</tr>
					<tr>
						<td>Совместная работа над документом</td>
						<td>Нет</td>
					</tr>
					<tr>
						<td>Группы пользователей</td>
						<td>Нет</td>
					</tr>
					<tr>
						<td>Юридические консультации</td>
						<td>Да</td>
					</tr>
					<tr>
						<td colspan="2" class="wrapper-but uk-text-center">
							<a href="DYNAMIC_URL_FREE_FORMS" class="button button--green">Начать работу</a>							
						</td>						
					</tr>
				</table>

			</li>
			<li>
				<table>
					<tr>
						<td colspan="2"  class="head-title">
							<div>
								<h3>Мастодонт</h3>
								<span>тариф</span>	
							</div>							
						</td>
					</tr>
					<tr>
						<td>
							Абонентская плата
						</td>
						<td>
							Да
						</td>
					</tr>
					<tr>
						<td>Формат экспорта</td>
						<td>MS Word, OpenDoc</td>
					</tr>
					<tr>
						<td>База стандартных документов</td>
						<td>Да</td>
					</tr>
					<tr>
						<td>База документов	уровня «эксперт»</td>
						<td>Доп. плата</td>
					</tr>
					<tr>
						<td>Автозаполнение полей</td>
						<td>Да</td>
					</tr>
					<tr> 
						<td>Количество копий по шаблону</td>
						<td>Не ограничено</td>
					</tr>
					<tr>
						<td>Совместная работа над документом</td>
						<td>Да</td>
					</tr>
					<tr>
						<td>Группы пользователей</td>
						<td>Да</td>
					</tr>
					<tr>
						<td>Юридические консультации</td>
						<td>Да</td>
					</tr>
					<tr>
						<td colspan="2" class="wrapper-but uk-text-center">
							<a href="DYNAMIC_URL_TARIFFS" class="button button--green" onclick="yaCounter42132919.reachGoal('mp-buy'); return true;">Купить</a>							
						</td>						
					</tr>
				</table>
			</li>
			<li>
				<table>
					<tr>
						<td colspan="2"  class="head-title">
							<div>
								<h3>Тираннозавр</h3>
								<span>тариф</span>	
							</div>							
						</td>
					</tr>
					<tr>
						<td>
							Абонентская плата
						</td>
						<td>
							Да
						</td>
					</tr>
					<tr>
						<td>Формат экспорта</td>
						<td>MS Word, OpenDoc</td>
					</tr>
					<tr>
						<td>База стандартных документов</td>
						<td>Да</td>
					</tr>
					<tr>
						<td>База документов	уровня «эксперт»</td>
						<td>Да</td>
					</tr>
					<tr>
						<td>Автозаполнение полей</td>
						<td>Да</td>
					</tr>
					<tr> 
						<td>Количество копий по шаблону</td>
						<td>Не ограничено</td>
					</tr>
					<tr>
						<td>Совместная работа над документом</td>
						<td>Да</td>
					</tr>
					<tr>
						<td>Группы пользователей</td>
						<td>Да</td>
					</tr>
					<tr>
						<td>Юридические консультации</td>
						<td>Да</td>
					</tr>
					<tr>
						<td colspan="2" class="wrapper-but uk-text-center">
							<a href="DYNAMIC_URL_TARIFFS" class="button button--green" onclick="yaCounter42132919.reachGoal('mp-buy'); return true;">Купить</a>							
						</td>						
					</tr>
				</table>
			</li>
		</ul>
		<ul class="uk-dotnav uk-dotnav-contrast uk-flex-center">
			<li data-uk-slideshow-item="0"><a href=""></a></li>
			<li data-uk-slideshow-item="1"><a href=""></a></li>
			<li data-uk-slideshow-item="2"><a href=""></a></li>
		</ul>
	</div>
</div>
<!--/Мобильная версия-->
</div>