 <div class="callback">
 	<div class="uk-container uk-container-center xl_l-v">
 		<div class="uk-grid">
 			<div class="uk-width-1-3"><span>8 (800) 700 08 16</span> </div>
 			<div class="uk-width-1-3"><button class="button button--white button--green-hover js-callback-toggle--open">Заказать звонок</button></div>
 			<div class="uk-width-1-3">	
 				<ul>
 					<li><a href="https://www.facebook.com/doczilla.ru/" class="doc-icon doc-icon-fb" target="_blank"></a></li>
 					<li><a href="https://vk.com/doczilla_ru" target="_blank" class="doc-icon doc-icon-vk"></a></li>
 					<li><a href="https://www.youtube.com/channel/UCUnnEeUX1CIF99Pelw9PMdw" target="_blank" class="doc-icon doc-icon-youtube" ></a></li>
 					<li><a href="https://twitter.com/Doczilla_ru" target="_blank" class="doc-icon doc-icon-tw"></a></li>
 					<li><a href="https://www.instagram.com/doczilla_ru/" target="_blank" class="doc-icon doc-icon-inst"></a></li>
 				</ul>
 			</div>
 		</div>
 	</div>
 	<div class="uk-container uk-container-center m-v">
 		<div class="uk-grid">
 			<div class="uk-width-1-2 uk-text-center"><span>8 (800) 700 08 16</span> </div>
 			<div class="uk-width-1-2 uk-text-center"><button class="button button--white button--green-hover js-callback-toggle--open">Заказать звонок</button></div>
 			<ul>
		<li><a href="https://www.facebook.com/doczilla.ru/" class="doc-icon doc-icon-fb" target="_blank"></a></li>
 					<li><a href="https://vk.com/doczilla_ru" target="_blank" class="doc-icon doc-icon-vk"></a></li>
 					<li><a href="https://www.youtube.com/channel/UCUnnEeUX1CIF99Pelw9PMdw" target="_blank" class="doc-icon doc-icon-youtube" ></a></li>
 					<li><a href="https://twitter.com/Doczilla_ru" target="_blank" class="doc-icon doc-icon-tw"></a></li>
 					<li><a href="https://www.instagram.com/doczilla_ru/" target="_blank" class="doc-icon doc-icon-inst"></a></li>
 			</ul>
 		</div>
 	</div>
 	<div class="uk-container uk-container-center s-v">		
 		<div class="uk-grid">
 			<div class="uk-width-1-1 uk-text-center">
 				<span>8 (800) 700 08 16</span>
 			</div>
 			<div class="uk-width-1-1 uk-text-center">
 				<a  href="tel:88007000816" class="button button--white button--green-hover">Позвоните нам</a>
 			</div>
 			<ul>
 			<li><a href="https://www.facebook.com/doczilla.ru/" class="doc-icon doc-icon-fb" target="_blank"></a></li>
 					<li><a href="https://vk.com/doczilla_ru" target="_blank" class="doc-icon doc-icon-vk"></a></li>
 					<li><a href="https://www.youtube.com/channel/UCUnnEeUX1CIF99Pelw9PMdw" target="_blank" class="doc-icon doc-icon-youtube" ></a></li>
 					<li><a href="https://twitter.com/Doczilla_ru" target="_blank" class="doc-icon doc-icon-tw"></a></li>
 					<li><a href="https://www.instagram.com/doczilla_ru/" target="_blank" class="doc-icon doc-icon-inst"></a></li>
 			</ul>
 		</div>
 	</div>
 </div>  