<div class="docs">
	<div class="uk-container  uk-container-center docs__desctop">
		<div class="uk-grid">
			<div class="uk-width-1-2 docs__desctop__redirect">
				<h2>Документы</h2>
				<span>Для физических лиц</span> 
				<p>
					Доступная база гарантированно <br>
					качественных документов. Подготовка <br>
					документа занимает несколько минут.
				</p>
				<a href="" class="button button--green button--green-hover-light">Перейти к документам</a>
			</div>	 
			<div class="uk-width-1-2 docs__desctop__tags">
				<span class="hard">Аренда</span>
				<span>Безвозмездное пользование</span><br>
				<span>Дарение</span> 
				<span class="hard">Доверенности</span>
				<span>Заём</span>
				<span class="hard">Купля-продажа</span>
				<span>Мена</span>
				<span class="hard">Недвижимость</span>
				<span>Ремонт</span>
				<span>Судебные споры</span>
			</div> 
		</div>
	</div>
</div>