<div class="docs-b">
	<div class="uk-container  uk-container-center">
		<div class="uk-grid">
			<div class="uk-width-1-1 docs-b__redirect">
				<h2>Доступные документы</h2>						
			</div>	 
			<div class="uk-width-1-1 docs-b__tags"> 
				<a href="/doc/categories.html#arenda770" class="button button--blue button--green-hover  uk-hidden-small" onclick="yaCounter42132919.reachGoal('mp-url770'); return true;">Аренда</a>		

				<a href="/doc/categories.html#bezvozmezdnoe-polzovanie771" class="button button--blue button--green-hover  uk-hidden-small" onclick="yaCounter42132919.reachGoal('mp-url771'); return true;">Безвозмездное пользование</a>

				<a href="/doc/categories.html#doverennosti508" class="button button--blue button--green-hover  uk-hidden-small" onclick="yaCounter42132919.reachGoal('mp-power-of-attorney508'); return true;">Доверенности</a>		

				<a href="/doc/categories.html#obespechenie-ispolneniya-obyazatelstv993" class="button button--blue button--green-hover  uk-hidden-small" onclick="yaCounter42132919.reachGoal('mp-url993'); return true;">Обеспечение исполнения обязательств</a>
				
				<a href="/doc/categories.html#darenie510" class="button button--blue button--green-hover  uk-hidden-small" onclick="yaCounter42132919.reachGoal('mp-url510'); return true;">Дарение</a> 

				<a href="/doc/categories.html#zaem777" class="button button--blue button--green-hover  uk-hidden-small" onclick="yaCounter42132919.reachGoal('mp-url777'); return true;">Заём</a>

				<a href="/doc/categories.html#kuplyaprodazha509" class="button button--blue button--green-hover  uk-hidden-small" onclick="yaCounter42132919.reachGoal('mp-url509'); return true;">Купля-продажа</a>		

				<a href="/doc/categories.html#nedvizhimost773" class="button button--blue button--green-hover  uk-hidden-small" onclick="yaCounter42132919.reachGoal('mp-url773'); return true;">Недвижимость</a>


				<a href="/doc/categories.html#okazanie-uslug778" class="button button--blue button--green-hover  uk-hidden-small" onclick="yaCounter42132919.reachGoal('mp-services778'); return true;">Оказание услуг</a>	

				<a href="/doc/categories.html#sudebnye-spory948" class="button button--blue button--green-hover  uk-hidden-small" onclick="yaCounter42132919.reachGoal('mp-litigation948'); return true;">Судебные споры</a> 		
			</div>  
			<div class="uk-width-1-1 docs-b__button">
				<a href="/doc/categories.html" class="button button--green button--green-hover-light"  onclick="yaCounter42132919.reachGoal('mp-categories'); return true;"> 
					Перейти к документам
				</a>
			</div> 
		</div>
	</div>
</div>