<div class="docs-b">
    <div class="uk-container  uk-container-center">
        <div class="uk-grid">
            <div class="uk-width-1-1 docs-b__redirect">
                <h2>Доступные документы</h2>
            </div>
            <div class="uk-width-1-1 docs-b__tags">
                <a href="https://doczilla.ru/branch/dokumenty-dlya-biznesa/arenda"
                   class="button button--blue button--green-hover  uk-hidden-small"
                   onclick="yaCounter42132919.reachGoal('mp-url770'); return true;">Аренда</a>

                <a href="https://doczilla.ru/branch/dokumenty-dlya-biznesa/bezvozmezdnoe-polzovanie"
                   class="button button--blue button--green-hover  uk-hidden-small"
                   onclick="yaCounter42132919.reachGoal('mp-url771'); return true;">Безвозмездное пользование</a>

                <a href="https://doczilla.ru/branch/dokumenty-dlya-biznesa/doverennosti"
                   class="button button--blue button--green-hover  uk-hidden-small"
                   onclick="yaCounter42132919.reachGoal('mp-power-of-attorney508'); return true;">Доверенности</a>

                <a href="https://doczilla.ru/branch/dokumenty-dlya-biznesa/obespechenie-ispolneniya-obyazatelstv"
                   class="button button--blue button--green-hover  uk-hidden-small"
                   onclick="yaCounter42132919.reachGoal('mp-url993'); return true;">Обеспечение исполнения
                    обязательств</a>

                <a href="https://doczilla.ru/branch/dokumenty-dlya-biznesa/darenie"
                   class="button button--blue button--green-hover  uk-hidden-small"
                   onclick="yaCounter42132919.reachGoal('mp-url510'); return true;">Дарение</a>

                <a href="https://doczilla.ru/branch/dokumenty-dlya-biznesa/zaem"
                   class="button button--blue button--green-hover  uk-hidden-small"
                   onclick="yaCounter42132919.reachGoal('mp-url777'); return true;">Заём</a>

                <a href="https://doczilla.ru/branch/dokumenty-dlya-biznesa/kuplyaprodazha"
                   class="button button--blue button--green-hover  uk-hidden-small"
                   onclick="yaCounter42132919.reachGoal('mp-url509'); return true;">Купля-продажа</a>

                <a href="https://doczilla.ru/branch/dokumenty-dlya-biznesa/nedvizhimost"
                   class="button button--blue button--green-hover  uk-hidden-small"
                   onclick="yaCounter42132919.reachGoal('mp-url773'); return true;">Недвижимость</a>

                <a href="https://doczilla.ru/branch/dokumenty-dlya-biznesa/okazanie-uslug"
                   class="button button--blue button--green-hover  uk-hidden-small"
                   onclick="yaCounter42132919.reachGoal('mp-services778'); return true;">Оказание услуг</a>

                <a href="https://doczilla.ru/branch/dokumenty-dlya-biznesa/sudebnye-spory"
                   class="button button--blue button--green-hover  uk-hidden-small"
                   onclick="yaCounter42132919.reachGoal('mp-litigation948'); return true;">Судебные споры</a>
            </div>
            <div class="uk-width-1-1 docs-b__button">
                <a href="https://doczilla.ru/" class="button button--green button--green-hover-light"
                   onclick="yaCounter42132919.reachGoal('mp-categories'); return true;">
                    Перейти к документам
                </a>
            </div>
        </div>
    </div>
</div>