<div class="feedback">
	<div class="uk-container uk-container-center feedback__desctop">
		<h2>Отзывы экспертов</h2>
		<div class="mobile-slider uk-slidenav-position"
		data-uk-slideshow="{animation: 'scroll', autoplay: true}">
		<ul class="uk-slideshow">
			<li>
				<div class="feedback__desctop__card">						
					<div class="uk-grid">	
						<div class="uk-width-1-4  feedback__desctop__card__photo">	
							<a href="https://www.facebook.com/ilya.buriakov" target="_blank" class="wrapper">	
								<div class="image">	
									<img src="assets/images/avatar1.jpg" alt="">
								</div>
								<div class="facebook"></div>
							</a>
						</div>
						<div class="uk-width-3-4 feedback__desctop__card__text">	
							<p>	
								<a href="https://www.facebook.com/ilya.buriakov"  target="_blank" >
									Буряков Илья<br>
								</a>
									<span>										
										<i>Юрисконсульт, АО «Центр управления непрофильными активами атомной отрасли»</i><br><br>
										«Вы молодцы! Теперь я знаю, как быстро подготовить качественный договор, который на 100% будет соответствовать 
										действующему законодательству, не погружаясь в рутину. Очень здорово, что больше не приходится тратить время на 
										технические вещи и заниматься по-настоящему важными делами!»

									</span>
								</p>
							</div>
						</div>
					</div>
				</li>

				<li>
				<div class="feedback__desctop__card">						
					<div class="uk-grid">	
						<div class="uk-width-1-4 feedback__desctop__card__photo">	
							<a href="https://www.facebook.com/roman.obukhov.5" target="_blank" class="wrapper">	
								<div class="image">	
									<img src="assets/images/avatar2.jpg" alt="">
								</div>
								<div class="facebook"></div>
							</a>
						</div>
						<div class="uk-width-3-4 feedback__desctop__card__text">	
							<p>	
								<a href="https://www.facebook.com/roman.obukhov.5"  target="_blank" >
									Роман Обухов<br>
								</a>
									<span>										
										<i>Юрист, девелоперская компания</i><br><br>
										«Не верил, что можно предусмотреть все варианты развития событий при составлении форм договоров. 
										Оказывается можно, ребята с этим отлично справились. Так держать!»
									</span>
								</p>
							</div>
						</div>
					</div>
				</li>

				<li>
				<div class="feedback__desctop__card">						
					<div class="uk-grid">	
						<div class="uk-width-1-4 feedback__desctop__card__photo">	
							<a href="https://www.facebook.com/marina.ponomareva.355" target="_blank" class="wrapper">	
								<div class="image">	
									<img src="assets/images/avatar3.jpg" alt="">
								</div>
								<div class="facebook"></div>
							</a>
						</div>
						<div class="uk-width-3-4 feedback__desctop__card__text">	
							<p>	
								<a href="https://www.facebook.com/marina.ponomareva.355"  target="_blank" >
									Марина Пономарева<br>
								</a>
									<span>										
										<i>Юрист, Университет Боккони</i><br><br>
										«Круто, когда можешь сделать договор за две минуты! Причем договор, который полностью отражает 
										достигнутые с контрагентом договоренности, реквизиты сторон в котором заполняются автоматически, 
										который не нужно проверять, ведь он был подготовлен юристами Lex Borealis, а им можно доверять.»
									</span>
								</p>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<ul class="uk-dotnav uk-dotnav-contrast uk-flex-center">
				<li data-uk-slideshow-item="0"><a href=""></a></li>
				<li data-uk-slideshow-item="1"><a href=""></a></li>
				<li data-uk-slideshow-item="2"><a href=""></a></li>
			</ul>
		</div>
	</div> 
</div>