<div class="float-block uk-hidden-small js-float-block"> 
	<div class="container ">	
		<span class="wrapper-title">
			<a href="https://doczilla.ru/type/skidki-po-akcii-2018-fifa-world-cup"
			onclick="yaCounter42132919.reachGoal('mp-football'); return true;"><img class="football" src="promo-assets/images/ball.png" alt=""></a>
			Скидки на документы по акции 2018 FIFA World Cup
		</span>
			<a href="https://doczilla.ru/type/skidki-po-akcii-2018-fifa-world-cup" 
			onclick="yaCounter42132919.reachGoal('mp-discount'); return true;"
			class="button button--green button--green-hover">К документам</a>
	</div>
</div>   