<div class="float-block"> <!-- uk-visible-small -->
	<div class="container">	
		<span class="uk-hidden-small">«Договор купли-продажи транспортного средства» и «Договор купли-продажи (общий)»</span>
		<span class="uk-visible-small">После первого созданного договора в Doczilla, 
		вы больше не захотите третить время на поиски и 
		редактирование низкокачественных документов в интернете!</span>
		<a href="DYNAMIC_URL_FREE_FORMS" class="button button--green-hove uk-hidden-small">Составить бесплатно!</a>
	</div>
</div>