<div class="doc-preview doc-preview--landing">
	<div class="doc-preview__desctop">
		<div class="doc-preview__desctop__wrapper" >
			       
				<!--Список документов-->
				<div class="document">
					<div class="document__wrapper uk-container uk-container-center">
						<div class="document__content">
							<img src="promo/promo-assets/images/defender.png" alt="">
							<h1>Договор купли-продажи автомобиля</h1><!-- <span title="Документ уровня «эксперт»">эксперт</span> -->
							<p>
								Документ подходит для продажи или приобретения индивидуально-определенного автомобиля в целях личного, семейного или домашнего использования. Перед приобретением автомобиля рекомендуем проверить его историю на сайтах: <a href="http://www.gibdd.ru/check/auto/">http://www.gibdd.ru/check/auto/</a>  и  <a href="https://www.reestr-zalogov.ru/search/index">https://www.reestr-zalogov.ru/search/index</a>.
							</p>
						</div> 
					</div>
				</div>
				<!--/Список документов-->	   
			<div class="doc-preview__bottom">
				<table>
					<tr>
						<td class="desc">
							Подготовка документа занимает несколько минут.  
							Ответьте на вопросы сервиса и получите качественный документ.
						</td>
						<td class="button">	
							<a href="" class="button button--green">Заполнить документ</a>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
