 <div class="promo" id="promo">
    <div class="uk-container uk-padding-remove uk-container-center">
        <div class="promo__desctop uk-hidden-small">
            <div class="uk-grid">
                <div class="left_block">
                    <div class="logo">
                        <span>DOCZILLA</span>
                        <h1>
                            Простой и надежный конструктор договоров от юристов <a href="http://www.lexborealis.com/" target="_blank">Lex Borealis</a>
                        </h1>
                        <p>
                            Десятки шаблонов документов с возможностью <br/>
                            редактирования. Документы составлены коллективом <br/>
                            высококвалифицированных юристов, специализирующихся <br/>
                            в самых разных отраслях бизнеса 
                        </p>
                        <a href="" class="button button--green button--hover-light" onclick="yaCounter42132919.reachGoal('mp-create-free'); return true;">
                        Заполнить документ</a>                     
                    </div>                
                </div>
                <div class="present_block"> 
                    <span class="xl_l-v">Призер конкурса «Skolkovo LegalTech Leader»</span>  
                    <span class="m_s-v">Призер конкурса <br>«Skolkovo LegalTech Leader»</span> 
                    <img  src="promo-assets/images/ltl.png" alt="Doczilla LegalTech Leader">
                    <img  src="promo-assets/images/skolkovo.jpg" alt="Doczilla Skolkovo">
                </div>
                
            </div>
        </div>
    </div>
    <div class="promo__mobile uk-visible-small">
      <div class="present_block"> 
        <img  src="promo-assets/images/ltl.png" alt="Doczilla LegalTech Leader">
        <img  src="promo-assets/images/skolkovo.jpg" alt="Doczilla Skolkovo">
    </div>
    <div class="uk-grid"> 
       <!--    <div class="uk-width-1-1 controls"> 
         <a href="">для бизнеса</a>
         <a href="">для гос. сектора</a>
         <a href="">для физ. лиц</a>
     </div>  -->
     <div class="promo__mobile__logo uk-text-center uk-width-1-1">
        <div class="content-inside">
            <img src="promo-assets/images/promo-logo_phone.png" alt="Doczilla">
        </div>
    </div>  
    <div class="promo__mobile__desc uk-width-1-1 uk-text-center">      
        <div class="content-inside">
            Простой и надёжный
            <h1>конструктор договоров</h1>
            от юристов <a href="http://www.lexborealis.com/" class="lex" target="_blank">Lex Borealis</a>  
        </div>
    </div> 
    <div class="promo__mobile__buttons uk-width-1-1 uk-text-center">  
        <a href="" class="button  button--green">Заполнить документ</a>  
    </div>   
</div>   
</div>
</div>  