<div class="content">
	<h1>Ты сегодня покормил кота?</h1>
	<div class="content__items">
		<div class="item item--js">
			<div class="item__info">	
				<div class="item__title  item__title--js">
					<span class="swap-title">Сказочное заморское яство</span>
					<span class="swap-title hidden">Котэ не одобряет?</span>
				</div>
				<div class="item__name">
					Нямушка
				</div>
				<div class="item__taste">
					с фуа-гра
				</div>
				<div class="item__amount">
					<b>10</b> порций
				</div>
				<div class="item__bonus"> 
					мышь в подарок
				</div>	
				<div class="item__extra"> 					
				</div>
			</div>	
			<div class="item__weight"> 
				<div>0,5</div><div>кг</div>
			</div>
			<div class="item__description item__description--motivation item__description--js">
				Чего сидишь? Порадуй котэ <span>купи.</span>
			</div>
			<div class="item__description item__description--decription item__description--js hidden">
				Печень утки разварная с артишоками.
			</div>
		</div>
		<div class="item item--js">
			<div class="item__info">	
				<div class="item__title item__title--js">
					Сказочное заморское яство
				</div>
				<div class="item__name">
					Нямушка
				</div>
				<div class="item__taste">
					с рыбой
				</div>
				<div class="item__amount">
					<b>40</b> порций
				</div>
				<div class="item__bonus">
					<b>2</b> мыши в подарок 
				</div>
				<div class="item__extra">
				</div>
			</div>	
			<div class="item__weight">
				<div>2</div><div>кг</div>
			</div>	
			<div class="item__description item__description--motivation item__description--js">
				Чего сидишь? Порадуй котэ <span>купи.</span>
			</div>
			<div class="item__description item__description--decription item__description--js hidden">
				Головы щучьи с чесноком да свежайшая сёмгушка.
			</div>
		</div>
		<div class="item item--js item--disabled">		
			<div class="item__info">	
				<div class="item__title item__title--js">
					Сказочное заморское яство
				</div>
				<div class="item__name">
					Нямушка
				</div>
				<div class="item__taste">
					с курой
				</div>
				<div class="item__amount">
					<b>100</b> порций
				</div>
				<div class="item__bonus">
					<b>2</b> мыши в подарок
				</div>	
				<div class="item__extra">
					заказчик доволен
				</div>				
			</div>	
			<div class="item__weight">
				<div>5</div><div>кг</div>
			</div>	
			<div class="item__description item__description--empty item__description--js">
				Печалька, с курой закончился.
			</div>
		</div>
	</div> 
</div>