<div class="modal-dialogs">
	<div id="base-docs" class="uk-modal">
		<div class="uk-modal-dialog">
			<a class="uk-modal-close uk-close"></a>
			<h3>База стандартных документов</h3>
			<p>
				База стандартных документов включает документы для тех, кому в большей степени необходимо обеспечить наличие в отчетных целях правильно составленных договоров, актов и прочих документов, которые зачастую требуют банки, бухгалтерия, налоговые инспекции. Никаких сложных юридических конструкций, минимум времени для подготовки документа. Если перед вами стоит задача детально урегулировать ваши отношения с контрагентом, то добро пожаловать в базу документов уровня эксперт.
			</p>
		</div>
	</div>	

	<div id="exp-docs" class="uk-modal">
		<div class="uk-modal-dialog">
			<a class="uk-modal-close uk-close"></a>
			<h3>База документов уровня «эксперт»</h3>
			<p>
				Если вам важно подготовить договор, который будет детально регулировать ваши отношения с контрагентом, защищать ваши интересы и вы не боитесь сложных юридических конструкций, то мы рекомендуем вам использовать шаблоны из базы документов уровня эксперт.
			</p>
		</div>
	</div>	

	<div id="auto-field" class="uk-modal">
		<div class="uk-modal-dialog">
			<a class="uk-modal-close uk-close"></a>
			<h3>Автозаполнение полей</h3>
			<p>
				Сервис Doczilla автоматически заполняет реквизиты и иные поля, оперируя информацией из базы данных.
			</p>
		</div>
	</div>	

	<div id="user-group" class="uk-modal">
		<div class="uk-modal-dialog">
			<a class="uk-modal-close uk-close"></a>
			<h3>Группы пользователей</h3>
			<p>
				Приглашайте своих коллег и друзей в группу, экономьте на абонентской плате для приглашенных пользователей, объедините ваши базы данных и сделайте работу с документами еще более эффективной.
			</p>
		</div>
	</div>

	<div id="share-doc" class="uk-modal">
		<div class="uk-modal-dialog">
			<a class="uk-modal-close uk-close"></a>
			<h3>Совместная работа над документом</h3>
			<p>
				Экономьте свое время! Поделитесь проектом шаблона с коллегой или контрагентом, чтобы он заполнил необходимые поля (реквизиты, условия договора, прочее). При этом, именно Вы определяется, какие поля доступны для заполнения, а какие изменить Ваш друг не сможет.
			</p>
		</div>
	</div>

	<div id="advice" class="uk-modal">
		<div class="uk-modal-dialog">
			<a class="uk-modal-close uk-close"></a>
			<h3>Юридические консультации</h3>
			<p>
				Закажите консультацию онлайн и квалифицированный юрист юридической компании <a class="modal_link" href="http://www.lexborealis.com/" target="_blank">Lex Borealis</a> перезвонит Вам в назначенное время и дату.
			</p>
		</div>
	</div>
</div>