<header class="navigate uk-navbar">
	<nav class="uk-container uk-container-center" role="navigation">
		<a href="./" class="uk-navbar-brand__mobile  uk-visible-small"><img src="./assets/images/head-promo-logo.png" alt="Doczilla"></a>
		<a href="./" class="uk-navbar-brand uk-hidden-small"><img src="./assets/images/head-promo-logo.png" alt="Doczilla"></a>
		<div class="uk-navbar-content uk-hidden-small phys_nav">
			<a href="#" class="uk-hidden-large">Для физ. лиц</a>
			<a href="#" class="uk-visible-large">Для физических лиц</a>
		</div>
		<div class="uk-navbar-content uk-hidden-small gos_nav">
			<a href="#" class="uk-hidden-large">Для гос. сектора</a>
			<a href="#" class="uk-visible-large">Для государственного сектора</a>
		</div>
		<!-- <div class="uk-navbar-content uk-hidden-small yur_nav">
			<a href="#">Для бизнеса</a>
		</div>  -->
		<div class="uk-navbar-flip uk-hidden-small">
			<div class="uk-button-group navigate__login">
				<a href="DYNAMIC_URL_FREE_FORMS" class="button  button--green-hover uk-hidden-small">Войти</a> 
			</div>
		</div>
		<div class="uk-navbar-flip navigate__phone uk-hidden-small">
			<a href="#">8 (800) 700 08 16</a>
		</div>
	</nav>
</header>
<!-- <div class="mobile-menu uk-visible-small">
	<a href="">Для физических лиц</a>
	<a href="">Для гос. сектора</a>
	TODO переключение, в зависимости от текущего раздела <a href="">Для бизнеса</a>
</div> -->