<header data-uk-sticky class="navigate uk-navbar">
	<nav class="uk-container uk-container-center" role="navigation">
		<div class="navigate__desctop">
			<a href="./" class="uk-navbar-brand">
				<img src="assets/images/head-promo-logo.png" alt="Doczilla">
			</a>
			<div class="uk-navbar-flip">
				<div class="uk-button-group navigate__desctop__login">
					<a href="DYNAMIC_URL_MAIN_PAGE" class="button  button--green-hover" onclick="yaCounter42132919.reachGoal('mp-login'); return true;">Войти</a> 
				</div>
			</div>
			<div class="uk-navbar-flip navigate__desctop__phone" id="js-callback-toggle">
				<a href="#">8 (800) 700 08 16</a>
			</div>
		</div>	


		<div class="navigate__mobile">
			<a href="./" class="uk-navbar-brand">
				<img src="assets/images/head-promo-logo.png" alt="Doczilla">
			</a>
			<div class="uk-navbar-flip uk-visible-small navigate__mobile__button">
				<a href="tel:88007000816" class="doc-icon doc-icon-phone"></a> 		 
				<a href="DYNAMIC_URL_MAIN_PAGE" class="doc-icon doc-icon-login" onclick="yaCounter42132919.reachGoal('mp-login'); return true;"></a> 		 
			</div>
		</div>	

		
	<!-- 		<div class="uk-navbar-content uk-hidden-small phys_nav">
		<a href="#" class="uk-hidden-large  uk-hidden">Для физ. лиц</a>
		<a href="#" class="uk-visible-large  uk-hidden">Для физических лиц</a>
	</div> -->
	<!-- 		<div class="uk-navbar-content uk-hidden-small gos_nav">
		<a href="#" class="uk-hidden-large  uk-hidden">Для гос. сектора</a>
		<a href="#" class="uk-visible-large  uk-hidden">Для государственного сектора</a>
	</div> -->
			<!-- <div class="uk-navbar-content uk-hidden-small yur_nav">
				<a href="#">Для бизнеса</a>
			</div>  -->
	

		<!--Форма заказа обратного звонка--> 
		<form class="navigate__callback" id="js-form-callback">  <!-- для отображения окна класс navigate__callback--active -->			
			<h3>Заказать обратный <br>
				звонок
			</h3>
			<div class="navigate__callback__input-wrapper">
				<input type="text" placeholder="Имя" id="js-callback-name">
				<span id="js-callback-name-error"></span>
			</div>	
			<div class="navigate__callback__input-wrapper">
				<input type="text" placeholder="E-mail" id="js-callback-email">
				<span id="js-callback-email-error"></span> 
			</div>	
			<div class="navigate__callback__input-wrapper">
				<input type="text" placeholder="+7 000 000 00 00" id="js-callback-phone" class="phone-mask">
				<span id="js-callback-phone-error"></span>
			</div>
			<div class="navigate__callback__input-wrapper">
				<div id="callback-recaptcha" data-sitekey="6Lezxx4UAAAAAEYE_GgthpGKn-qirqme8FbykCLf" class="g-recaptcha"></div>
				<span id="js-callback-success-error"></span>
			</div>
			<div class="navigate__callback__button-wrapper">
				<button class="button button--normal button--green-hover" type="submit">Заказать звонок</button>
			</div>
		</form>
		<!--/Форма заказа обратного звонка-->
	</nav>
</header>