<header class="navigate uk-navbar">
	<nav class="uk-container uk-container-center" role="navigation">
		<!-- <a href="#mobile-menu"  class="navigate__mobile-menu uk-navbar-toggle uk-visible-small" data-uk-offcanvas="{mode:'slide'}"></a> -->
		<a href="./" class="uk-navbar-brand "><img src="./assets/images/head-promo-logo.png" alt="Doczilla"></a>
		<div class="uk-navbar-content uk-hidden-small"><a href="#">Для физических лиц</a></div>
		<div class="uk-navbar-content uk-hidden-small"><a href="#">Для гос. сектора</a></div>
		<div class="uk-navbar-flip uk-hidden-small">
			<div class="uk-button-group navigate__login">
				<a class=" uk-button uk-button" href="#">Войти</a>
			</div>
		</div>
		<div class="uk-navbar-flip navigate__phone uk-hidden-small">
			<a href="#">8-800-700-08-16</a>
		</div>
	</nav>
</header>
<!-- <div id="mobile-menu" class="uk-offcanvas" >
	<div class="uk-offcanvas-bar">
		<div class="uk-navbar-content"><a href="#">Для физических лиц</a></div>
		<div class="uk-navbar-content"><a href="#">Для гос. сектора</a></div>
	</div>
</div>
 -->