<div class="partners">
	<div class="uk-container uk-container-center partners__desctop">
		<div data-uk-slider="{infinite: false, autoplay: false}">
			<div class="uk-slider-container">
				<ul class="uk-slider uk-grid uk-grid-width-medium-1-4">
					<li>
						<div>
							<img src="assets/images/partner1.png" alt="">
						</div>
					</li>	
					<li>
						<div>
							<img src="assets/images/partner2.png" alt="">
						</div>
					</li>	
					<li>
						<div>
							<img src="assets/images/partner3.png" alt="">
						</div>
					</li>	
					<li>
						<div>
							<img src="assets/images/partner4.png" alt="">
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div> 