<div class="promo">
    <div class="promo__mobile uk-visible-small">
        <div class="uk-grid ">
             <div class="promo__mobile__logo uk-text-center uk-width-1-1">
                <div class="content-inside">
                    <img src="./assets/images/promo-logo_phone.png" alt="Doczilla">
                </div>
            </div>  
            <div class="promo__mobile__desc uk-width-1-1 uk-text-center"> 
                <div class="content-inside">
                    Простой и надёжный
                    <h1>конструктор договоров</h1>
                    от юристов <a href="" class="lexx">Lexx Borealis</a>  
                </div>
            </div> 
            <div class="promo__mobile__buttons uk-width-1-1 uk-text-center">  
                <a href="" class="button  button--green">Создать документ</a> <br/>
                <a href="" class="button button--white ">Получить консультацию</a> 
            </div>   
        </div>   
    </div>
</div>  