<div class="second-info">
  <div class="second-info__mobile uk-visible-small">
    <div class="mobile-slider uk-slidenav-position" data-uk-slideshow="{animation: 'scroll'}"> 
      <ul class="uk-slideshow">
        <li> 
          <div class="advantages uk-panel uk-panel-box ">
            <div class="uk-panel-teaser uk-text-center">
             <img  src="./assets/images/rates-1.png" alt="">
             <div class="advantages__desc">
               Текст-текст-текст Текст-текст-текст Текст-текст-текст Текст-текст-текст Текст-текст-текст 
             </div>
           </div>
         </div>      
       </li>
       <li> 
        <div class="advantages uk-panel uk-panel-box ">
         <div class="uk-panel-teaser uk-text-center">
           <img  src="./assets/images/rates-2.png" alt="">
           <div class="advantages__desc">
             Текст-текст-текст Текст-текст-текст Текст-текст-текст Текст-текст-текст Текст-текст-текст Текст-текст-текст Текст-текст-текст Текст-текст-текст
           </div>
         </div>
       </div>      
     </li>   
     <li> 
      <div class="advantages uk-panel uk-panel-box ">
       <div class="uk-panel-teaser uk-text-center">#FFFFFFFF
         <img  src="./assets/images/rates-3.png" alt="">
         <div class="advantages__desc">
           Текст-текст-текст Текст-текст-текст Текст-текст-текст 
         </div>
       </div>
     </div>      
   </li>
 </ul>

 <ul class="uk-dotnav uk-dotnav-contrast uk-flex-center">
  <li data-uk-slideshow-item="0"><a href=""></a></li>
  <li data-uk-slideshow-item="1"><a href=""></a></li>
  <li data-uk-slideshow-item="2"><a href=""></a></li>
</ul>
</div>  
</div>