<div class="mobile-slider uk-visible-small"  data-uk-slideset="{small: 1, medium: 1, animation: 'slide-horizontal', duration: 200}">
  <div class="uk-slidenav-position uk-margin">
    <ul class="uk-slideset uk-grid uk-flex-center uk-grid-width-1-1">
      <li style="display: none;" class="content-slide">
        <div class="temp1"></div>
      </li>
      <li style="display: none;" class="content-slide">
       <div class="temp1"></div>
     </li>
     <li style="display: none;" class="content-slide">
       <div class="temp1"></div>
     </li>
   </ul>
 </div>
 <ul class="uk-slideset-nav uk-dotnav uk-flex-center">
  <li data-uk-slideset-item="0" class="uk-active"><a></a></li>
  <li data-uk-slideset-item="1"><a></a></li>
  <li data-uk-slideset-item="2"><a></a></li>
</ul>
</div>