<div class="use-cases">
  <!--Десктопная версия-->
  <div class="uk-container uk-padding-remove uk-container-center">
    <div class="use-cases__desctop uk-hidden-small">
      <div class="uk-grid">
        <!--Максимальное разрешение экрана-->
        <div class="uk-width-1-1 use-cases__desctop xl-v">
          <div class="use-cases__desctop__wrapper">
            <div class="use-cases__desctop__image">
              <img src="assets/images/sansara.png" alt="">
            </div>
            <div class="use-cases__desctop__desc">

              Вам нужен договор купли-продажи автомобиля, автомобильной перевозки грузов <br>
              или другой договор оказания услуг —  <b>добро пожаловать в Doczilla! <br>
              Здесь вы найдете документы на все случаи</b>: аренда, поставка, <br>
              оказание услуг, подряд и другие.<br>
              <a href="/doc/categories.html" onclick="yaCounter42132919.reachGoal('mp-more-info'); return true;">Подробнее</a>
            </div>
          </div>
          <div class="use-cases__desctop__wrapper">
            <div class="use-cases__desctop__image use-cases__desctop__image--invert">
              <img src="assets/images/house.png" alt="">
            </div>
            <div class="use-cases__desctop__desc use-cases__desctop__desc--invert">

              Бытовые ситуации: доверенность, иск, договор займа, договор поручительства,  <br>
              договор дарения, брачный договор или, например, договор залога движимого  <br>
              имущества, все это и многие другие документы есть в сервисе Doczilla. <b>Вы можете найти  <br>
              необходимый образец договора и быть уверены в его качестве!</b>
              <br>
              <a href="/doc/categories.html" onclick="yaCounter42132919.reachGoal('mp-more-info'); return true;">Подробнее</a> 
            </div>
          </div>
          <div class="use-cases__desctop__wrapper">
            <div class="use-cases__desctop__image">
              <img src="assets/images/defender.png" alt="">
            </div>
            <div class="use-cases__desctop__desc">
              Хотите заказать услугу и <b>не переживать за свою юридическую безопасность:</b> <br>
              используйте наши шаблоны договоров на оказание юридических, бухгалтерских, <br>
              аудиторских, охранных, риэлторских услуг, услуг по проведению оценки, клининговых услуг, <br>
              услуг питания, технического обслуживания и тд.
              <br>
              <a href="/doc/categories.html" onclick="yaCounter42132919.reachGoal('mp-more-info'); return true;">Подробнее</a> 
            </div>
          </div>
          <div class="use-cases__desctop__wrapper">
            <div class="use-cases__desctop__image use-cases__desctop__image--invert">
              <img src="assets/images/roket.png" alt="">
            </div>
            <div class="use-cases__desctop__desc use-cases__desctop__desc--invert">

              Планируете стать или Вы уже предприниматель? Управляете бизнесом? <br>
              Doczilla Вам поможет арендовать офис, склад или даже предприятие как имущественный комплекс! <br>
              <b> Мы представляем базу договоров</b>, необходимых для ведения бизнеса: договоры поставки, <br>
              договоры оказания услуг, купля-продажа, аренда и многие другие.

              <br>
              <a href="/doc/categories.html" onclick="yaCounter42132919.reachGoal('mp-more-info'); return true;">Подробнее</a> 
            </div>
          </div>
        </div>
        <!--/Максимальное разрешение экрана-->
        <!--Большое и среднее разрешение экрана-->
        <div class="uk-width-1-1 use-cases__desctop l_m-v">
          <div class="mobile-slider uk-slidenav-position"
          data-uk-slideshow="{animation: 'scroll', autoplay: true}">
          <ul class="uk-slideshow">
            <li>
              <div class="use-cases__desctop__wrapper">
                <div class="use-cases__desctop__image">
                  <img src="assets/images/sansara.png" alt="">
                </div>
                <div class="use-cases__desctop__desc">
                 Вам нужен договор купли-продажи автомобиля, автомобильной перевозки грузов 
                 или другой договор оказания услуг —  <b>добро пожаловать в Doczilla!
                 Здесь вы найдете документы на все случаи</b>: аренда, поставка, 
                 оказание услуг, подряд и другие.
                 <br>
                 <a href="/doc/categories.html" onclick="yaCounter42132919.reachGoal('mp-more-info'); return true;">Подробнее</a> 
               </div>
             </div>
           </li>
           <li>
            <div class="use-cases__desctop__wrapper">
              <div class="use-cases__desctop__image">
                <img src="assets/images/house.png" alt="">
              </div>
              <div class="use-cases__desctop__desc">

                Бытовые ситуации: доверенность, иск, договор займа, договор поручительства,  
                договор дарения, брачный договор или, например, договор залога движимого  
                имущества, все это и многие другие документы есть в сервисе Doczilla. <b>Вы можете найти 
                необходимый образец договора и быть уверены в его качестве!</b>
                <br>
                <a href="/doc/categories.html" onclick="yaCounter42132919.reachGoal('mp-more-info'); return true;">Подробнее</a> 
              </div>
            </div>
          </li>
          <li>
            <div class="use-cases__desctop__wrapper">
              <div class="use-cases__desctop__image">
                <img src="assets/images/defender.png" alt="">
              </div>
              <div class="use-cases__desctop__desc">
               Хотите заказать услугу и <b>не переживать за свою юридическую безопасность:</b> 
               используйте наши шаблоны договоров на оказание юридических, бухгалтерских, 
               аудиторских, охранных, риэлторских услуг, услуг по проведению оценки, клининговых услуг,
               услуг питания, технического обслуживания и тд.
               <br>
               <a href="/doc/categories.html" onclick="yaCounter42132919.reachGoal('mp-more-info'); return true;">Подробнее</a> 
             </div>
           </div>
         </li>
         <li>
          <div class="use-cases__desctop__wrapper">
            <div class="use-cases__desctop__image">
              <img src="assets/images/roket.png" alt="">
            </div>
            <div class="use-cases__desctop__desc">

              Планируете стать или Вы уже предприниматель? Управляете бизнесом? 
              Doczilla Вам поможет арендовать офис, склад или даже предприятие как имущественный комплекс! 
              <b> Мы представляем базу договоров</b>, необходимых для ведения бизнеса: договоры поставки, 
              договоры оказания услуг, купля-продажа, аренда и многие другие.                                       
              <br>
              <a href="/doc/categories.html" onclick="yaCounter42132919.reachGoal('mp-more-info'); return true;">Подробнее</a> 
            </div>
          </div>
        </li>
      </ul>

      <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous"
      data-uk-slideshow-item="previous"></a>
      <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next"
      data-uk-slideshow-item="next"></a>
      <ul class="uk-dotnav uk-dotnav-contrast uk-flex-center">
        <li data-uk-slideshow-item="0"><a href=""></a></li>
        <li data-uk-slideshow-item="1"><a href=""></a></li>
        <li data-uk-slideshow-item="2"><a href=""></a></li>
        <li data-uk-slideshow-item="3"><a href=""></a></li>
      </ul>
    </div>
  </div>
</div>
<!--/Большое и среднее разрешение экрана-->
</div>
</div>
<!--/Десктопная версия-->
<!--Мобильная версия-->
<div class="use-cases__mobile uk-visible-small">
  <div class="uk-width-1-1">
    <div class="mobile-slider uk-slidenav-position"
    data-uk-slideshow="{animation: 'scroll', autoplay: true}">
    <ul class="uk-slideshow">
      <li>
        <div class="uk-panel">
          <div class="uk-panel-teaser uk-text-center">
            <img src="assets/images/sansara.png" alt="">
            <div>
              Вам нужен договор купли-продажи автомобиля, автомобильной перевозки грузов 
              или другой договор оказания услуг —  <b>добро пожаловать в Doczilla!
              Здесь вы найдете документы на все случаи</b>: аренда, поставка, 
              оказание услуг, подряд и другие.
              <br>
              <a href="/doc/categories.html" onclick="yaCounter42132919.reachGoal('mp-more-info'); return true;">Подробнее</a> 
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="uk-panel">
          <div class="uk-panel-teaser uk-text-center">
            <img src="assets/images/house.png" alt="">

            <div>
             Бытовые ситуации: доверенность, иск, договор займа, договор поручительства,  
             договор дарения, брачный договор или, например, договор залога движимого  
             имущества, все это и многие другие документы есть в сервисе Doczilla. <b>Вы можете найти 
             необходимый образец договора и быть уверены в его качестве!</b>
             <br>
             <a href="/doc/categories.html" onclick="yaCounter42132919.reachGoal('mp-more-info'); return true;">Подробнее</a> 
           </div>
         </div>
       </div>
     </li>
     <li>
      <div class="uk-panel">
        <div class="uk-panel-teaser uk-text-center">
          <img src="assets/images/defender.png" alt="">
          <div>
            Хотите заказать услугу и <b>не переживать за свою юридическую безопасность:</b> 
            используйте наши шаблоны договоров на оказание юридических, бухгалтерских, 
            аудиторских, охранных, риэлторских услуг, услуг по проведению оценки, клининговых услуг,
            услуг питания, технического обслуживания и тд.
            <br>
            <a href="/doc/categories.html" onclick="yaCounter42132919.reachGoal('mp-more-info'); return true;">Подробнее</a> 
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="uk-panel">
        <div class="uk-panel-teaser uk-text-center">
          <img src="assets/images/roket.png" alt="">

          <div>
           Планируете стать или Вы уже предприниматель? Управляете бизнесом? 
           Doczilla Вам поможет арендовать офис, склад или даже предприятие как имущественный комплекс! 
           <b> Мы представляем базу договоров</b>, необходимых для ведения бизнеса: договоры поставки, 
           договоры оказания услуг, купля-продажа, аренда и многие другие.  
           <br>
           <a href="/doc/categories.html" onclick="yaCounter42132919.reachGoal('mp-more-info'); return true;">Подробнее</a> 
         </div>
       </div>
     </div>
   </li>
 </ul>
 <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous"
 data-uk-slideshow-item="previous"></a>
 <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next"
 data-uk-slideshow-item="next"></a>
 <ul class="uk-dotnav uk-dotnav-contrast uk-flex-center">
  <li data-uk-slideshow-item="0"><a href=""></a></li>
  <li data-uk-slideshow-item="1"><a href=""></a></li>
  <li data-uk-slideshow-item="2"><a href=""></a></li>
  <li data-uk-slideshow-item="3"><a href=""></a></li>
</ul>
</div>
</div>
</div>
<!--/Мобильная версия-->
</div>

