<div class="use-cases">
  <div class="uk-container uk-padding-remove uk-container-center xl-v">
    <div class="uk-grid">
      <div class="uk-width-xlarge-1-3 uk-width-large-1-1">
        <div class="use-cases--container">
          <div class="image image--a"></div>
          <h3>Физические лица</h3>
          <p> 
           Вам нужен договор купли-продажи автомобиля, 
           договор найма квартиры <br>или вы собираетесь 
           подать в суд на недобросовестного продавца? 
           Добро пожаловать в конструктор документов «Doczilla»!  
           Здесь вы найдете документы на все случаи: аренда, поставка,
           оказание услуг, подряд и другие.
         </p>
         <a title="Перейти к документам" href="https://doczilla.ru/docs/dokumenty-dlya-fizicheskih-lic" class="link-docs">Перейти к документам</a>
         <a title="Перейти к документам" href="https://doczilla.ru/docs/dokumenty-dlya-fizicheskih-lic" class="link-arrow"></a> 
       </div> 
     </div> 
     <div class="uk-width-xlarge-1-3 uk-width-large-1-1">
      <div class="use-cases--container">
        <div class="image image--b"></div> 
        <h3>Юридические лица</h3>  
        <p>
          Теперь вы можете создавать качественные документы без обращения к дорогостоящим юристам! 
          Оптимизируйте свои затраты с помощью конструктора договоров «Doczilla».
          Онлайн-сервис «Doczilla» представляет базу договоров: 
          договоры поставки, договоры оказания услуг, купля-продажа, аренда и многие другие.
        </p>
        <a title="Перейти к документам" href="https://doczilla.ru/docs/dokumenty-dlya-biznesa" class="link-docs">Перейти к документам</a>
        <a title="Перейти к документам" href="https://doczilla.ru/docs/dokumenty-dlya-biznesa" class="link-arrow"></a> 
      </div>  
    </div>
    <div class="uk-width-xlarge-1-3 uk-width-large-1-1">
      <div class="use-cases--container">
        <div class="image image--c"></div>
        <h3>Государственные учреждения</h3>
        <p> 
         Мы хорошо понимаем специфику работы организаций в государственном секторе. 
         Документы разработаны в строгом соответствии с требованиями 
         44-ФЗ, 223-ФЗ. Осуществляется постоянная актуализация базы документов с учетом изменений в законодательстве РФ.        
       </p>
       <a title="Перейти к документам" href="https://doczilla.ru/docs/dokumenty-dlya-gosudarstvennogo-sektora" class="link-docs">Перейти к документам</a>
       <a title="Перейти к документам" href="https://doczilla.ru/docs/dokumenty-dlya-gosudarstvennogo-sektora" class="link-arrow"></a> 
     </div> 
   </div>
 </div>    
</div> 

<!--Мобильная версия-->
<div class="use-cases use-cases--mobile">
  <div class="mobile-slider uk-slidenav-position"
  data-uk-slideshow="{animation: 'scroll', autoplay: true}">
  <ul class="uk-slideshow">
      <li>        
   <div class="slide-wrapper">
     <div class="image image--c"></div>
     <p> 
       Вам нужен договор купли-продажи автомобиля, 
       договор найма квартиры или вы собираетесь 
       подать в суд на недобросовестного продавца? 
       Добро пожаловать в конструктор документов «Doczilla»!  
       Здесь вы найдете документы на все случаи: аренда, поставка,
       оказание услуг, подряд и другие.
     </p>
         <a title="Перейти к документам" href="https://doczilla.ru/docs/dokumenty-dlya-fizicheskih-lic">Перейти к документам</a>
   </div>
 </li>

   <li>      
     <div class="slide-wrapper">
       <div class="image image--b"></div>
       <p>
        Теперь вы можете создавать качественные документы без обращения к дорогостоящим юристам! 
        Оптимизируйте свои затраты с помощью конструктора договоров «Doczilla».
        Онлайн-сервис «Doczilla» представляет базу договоров: 
        договоры поставки, договоры оказания услуг, купля-продажа, аренда и многие другие.
      </p>
          <a title="Перейти к документам" href="https://doczilla.ru/docs/dokumenty-dlya-biznesa">Перейти к документам</a>
    </div>
  </li>
  <li>   
    <div class="slide-wrapper">
     <div class="image image--a"></div>
     <p> 
       Мы хорошо понимаем специфику работы организаций в государственном секторе. 
       Документы разработаны в строгом соответствии с требованиями 
       44-ФЗ, 223-ФЗ. Осуществляется постоянная актуализация базы документов с учетом изменений в законодательстве РФ.        
     </p>
     <a title="Перейти к документам" href="https://doczilla.ru/docs/dokumenty-dlya-gosudarstvennogo-sektora">Перейти к документам</a>
   </div>
 </li>
</ul>
<ul class="uk-dotnav uk-dotnav-contrast uk-flex-center">
  <li data-uk-slideshow-item="0"><a href=""></a></li>
  <li data-uk-slideshow-item="1"><a href=""></a></li>
  <li data-uk-slideshow-item="2"><a href=""></a></li>
</ul>
</div>
</div>
<!--/Мобильная версия-->
</div>


<!-- <div class="use-cases">
  Десктопная версия
  <div class="uk-container uk-padding-remove uk-container-center">
    <div class="use-cases__desctop uk-hidden-small">
      <div class="uk-grid">
        Максимальное разрешение экрана
        <div class="uk-width-1-1 use-cases__desctop xl-v">
          <div class="use-cases__desctop__wrapper">
            <div class="use-cases__desctop__image ">
              <img src="promo-assets/images/sansara.png" alt="">
            </div>
            <div class="use-cases__desctop__desc">
              Вам нужен договор купли-продажи автомобиля, автомобильной перевозки грузов <br>
              или другой договор оказания услуг —  <b>добро пожаловать в Doczilla! <br>
              Здесь вы найдете документы на все случаи</b>: аренда, поставка, <br>
              оказание услуг, подряд и другие.
              <br>
              <a href="DYNAMIC_URL_FORMS" onclick="yaCounter42132919.reachGoal('mp-more-info'); return true;">Подробнее</a>
            </div>
          </div> 
          <div class="use-cases__desctop__wrapper">
            <div class="use-cases__desctop__image use-cases__desctop__image--invert">
              <img src="promo-assets/images/defender.png" alt="">
            </div>
            <div class="use-cases__desctop__desc use-cases__desctop__desc--invert"> 
              Вы можете найти необходимый образец договора и быть уверены в его качестве: 
              доверенность, иск, договор займа, договор поручительства, договор дарения, брачный договор и др. 
              <br>
              <a href="DYNAMIC_URL_FORMS" onclick="yaCounter42132919.reachGoal('mp-more-info'); return true;">Подробнее</a> 
            </div>
          </div>
          <div class="use-cases__desctop__wrapper">
            <div class="use-cases__desctop__image ">
              <img src="promo-assets/images/roket.png" alt="">
            </div>
            <div class="use-cases__desctop__desc ">
             Хотите не переживать за свою юридическую безопасность: 
             используйте документы от online конструктора договоров Doczilla.
             <b>Doczilla представляет базу договоров</b>, необходимых для ведения бизнеса: 
             договоры поставки, договоры оказания услуг, купля-продажа, аренда и многие другие.
             <br>
             <a href="DYNAMIC_URL_FORMS" onclick="yaCounter42132919.reachGoal('mp-more-info'); return true;">Подробнее</a> 
           </div>
         </div>
       </div>
       /Максимальное разрешение экрана
       Большое и среднее разрешение экрана
       <div class="uk-width-1-1 use-cases__desctop l_m-v">
        <div class="mobile-slider uk-slidenav-position"
        data-uk-slideshow="{animation: 'scroll', autoplay: true}">
        <ul class="uk-slideshow">
          <li>
            <div class="use-cases__desctop__wrapper">
              <div class="use-cases__desctop__image">
                <img src="promo-assets/images/sansara.png" alt="">
              </div>
              <div class="use-cases__desctop__desc">
                Вам нужен договор купли-продажи автомобиля, автомобильной перевозки грузов
                или другой договор оказания услуг —  <b>добро пожаловать в Doczilla! 
                Здесь вы найдете документы на все случаи</b>: аренда, поставка, 
                оказание услуг, подряд и другие.
                <br>
                <a href="DYNAMIC_URL_FORMS" onclick="yaCounter42132919.reachGoal('mp-more-info'); return true;">Подробнее</a> 
              </div>
            </div>
          </li>
          <li>
            <div class="use-cases__desctop__wrapper">
              <div class="use-cases__desctop__image">
                <img src="promo-assets/images/defender.png" alt="">
              </div>
              <div class="use-cases__desctop__desc">
                Вы можете найти необходимый образец договора и быть уверены в его качестве: 
                доверенность, иск, договор займа, договор поручительства, договор дарения, брачный договор и др. 
                <br>
                <a href="DYNAMIC_URL_FORMS" onclick="yaCounter42132919.reachGoal('mp-more-info'); return true;">Подробнее</a> 
              </div>
            </div>
          </li>
          <li>
            <div class="use-cases__desctop__wrapper">
              <div class="use-cases__desctop__image">
                <img src="promo-assets/images/roket.png" alt="">
              </div>
              <div class="use-cases__desctop__desc">
                Хотите не переживать за свою юридическую безопасность: 
                используйте документы от online конструктора договоров Doczilla.
                <b>Doczilla представляет базу договоров</b>, необходимых для ведения бизнеса: 
                договоры поставки, договоры оказания услуг, купля-продажа, аренда и многие другие.
                <br>
                <a href="DYNAMIC_URL_FORMS" onclick="yaCounter42132919.reachGoal('mp-more-info'); return true;">Подробнее</a> 
              </div>
            </div>
          </li>
        </ul>
        <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous"
        data-uk-slideshow-item="previous"></a>
        <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next"
        data-uk-slideshow-item="next"></a>
        <ul class="uk-dotnav uk-dotnav-contrast uk-flex-center">
          <li data-uk-slideshow-item="0"><a href=""></a></li>
          <li data-uk-slideshow-item="1"><a href=""></a></li>
          <li data-uk-slideshow-item="2"><a href=""></a></li>
        </ul>
      </div>
    </div>
  </div>
  /Большое и среднее разрешение экрана
</div>
</div>
/Десктопная версия
Мобильная версия
<div class="use-cases__mobile uk-visible-small">
  <div class="uk-width-1-1">
    <div class="mobile-slider uk-slidenav-position"
    data-uk-slideshow="{animation: 'scroll', autoplay: true}">
    <ul class="uk-slideshow">
      <li>
        <div class="uk-panel">
          <div class="uk-panel-teaser uk-text-center">
            <img src="promo-assets/images/sansara.png" alt="">
            <div>
              Нужен договор купли-продажи автомобиля, перевозки грузов
              или договор оказания услуг — добро пожаловать в online конструктор договоров Doczilla!
              Здесь вы найдете документы на все случаи: аренда, поставка, оказание услуг, подряд и другие.
              <br>
              <a href="DYNAMIC_URL_FORMS" onclick="yaCounter42132919.reachGoal('mp-more-info'); return true;">Подробнее</a> 
            </div>
          </div>
        </div>
      </li>
      <li> 
        <div class="uk-panel">
          <div class="uk-panel-teaser uk-text-center">
            <img src="promo-assets/images/defender.png" alt="">
            <div>
              Вы можете найти необходимый образец договора и быть уверены в его качестве: 
              доверенность, иск, договор займа, договор поручительства, договор дарения, брачный договор и др. 
              <br> 
              <a href="DYNAMIC_URL_FORMS" onclick="yaCounter42132919.reachGoal('mp-more-info'); return true;">Подробнее</a> 
            </div>
          </div>
        </div>
      </li>   
      <li>
        <div class="uk-panel"> 
          <div class="uk-panel-teaser uk-text-center">
            <img src="promo-assets/images/roket.png" alt="">
            <div>
              Хотите не переживать за свою юридическую безопасность: 
              используйте документы от online конструктора договоров Doczilla.
              Doczilla представляет базу договоров, необходимых для ведения бизнеса: 
              договоры поставки, договоры оказания услуг, купля-продажа, аренда и многие другие.
              <br>
              <a href="DYNAMIC_URL_FORMS" onclick="yaCounter42132919.reachGoal('mp-more-info'); return true;">Подробнее</a> 
            </div>
          </div>
        </div>
      </li>      
    </ul>
    <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous"
    data-uk-slideshow-item="previous"></a>
    <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next"
    data-uk-slideshow-item="next"></a>
    <ul class="uk-dotnav uk-dotnav-contrast uk-flex-center">
      <li data-uk-slideshow-item="0"><a href=""></a></li>
      <li data-uk-slideshow-item="1"><a href=""></a></li>
      <li data-uk-slideshow-item="2"><a href=""></a></li>
    </ul>
  </div>
</div>
</div>
/Мобильная версия
</div>

 -->