<div class="video">

	<div class="video__mobile video-js"> <!-- video__mobile albom -->			
		<div class="video__mobile__screen play-js">			
			<div class="video__mobile__play-btn"></div>			
		</div>	
		 <iframe id="video" src="https://www.youtube.com/embed/K-xC_2UM_Xs?enablejsapi=1" allowfullscreen="allowfullscreen" controls="0" class="video__iframe"></iframe>
	</div>

<!-- 	<div class="video__desctop">
	<iframe id="video" src="https://www.youtube.com/embed/K-xC_2UM_Xs?enablejsapi=1" allowfullscreen="allowfullscreen" controls="0" class="video__iframe"></iframe>
</div> -->
</div>  