<!DOCTYPE html>
<html lang="en">
<head>
	//= blocks/header.html
</head>
<body style="height: 100vh">
	<div class="page_404">
		<div class="logo"> <img src="assets/images/promo-logo.png" alt="Promo logo"/></div>
		<div class="center_content"><span class="font_large">404</span><span class="font_medium">Страница не найдена...</span><span class="text_small font-roboto--light">Вы находитесь здесь потому, что запрашиваемая страница не существует или была перемещена по другому адресу</span><a href="DYNAMIC_URL_PROMO_PAGE" class="button button--green button--hover-light">Вернуться на главную</a></div>
		<div class="footer">
			<div class="telephone font-roboto--light">8 (800) 700 08 16</div>
			<div class="social"><a href="https://www.facebook.com/Doczilla-703914479760683/" target="_blank" class="social__link"></a><a href="https://vk.com/doczilla_ru" target="_blank" class="social__link"></a><a href="https://twitter.com/Doczilla_ru" target="_blank" class="social__link"></a></div>
		</div>
	</div>
</body>
</html>