<!DOCTYPE html>
<html lang="en">
<head>
	<title>Doczilla конструктор договоров</title>
	<meta charset="UTF-8"/>  
	<meta name="keywords" content="докзила докзилла doczilla doczila сервис конструктор образец шаблон договор документ юрист бизнес онлайн купли продажи подряда доверенность бланк автомобиля оказания услуг трудовой поручения инвестирования аренды квартиры займа найма дарения гк рф консультант аренды гарант акт выполненных работ платежное поручение поставки акт приема передачи образцы заявлений анкета главбух срочный"/>
	<meta name="description" content="Doczilla - простой и надежный конструктор договоров от юристов Lex Borealis"/>
	<meta name="google-site-verification" content="jSOZFAJ_Ifd5s2PHZ9kvaNcYU9QESJraFNqi1-CbDGY"/>
	<meta name="subject" content="Doczilla конструктор договоров"/>
	<meta name="copyright" content="Doczilla"/>
	<meta name="language" content="ru"/>
	<meta name="robots" content="index,follow"/>
	<meta name="HandheldFriendly" content="True"/>
	<meta name="date" content="Jan. 1, 2017"/>
	<meta name="DC.title" content="Doczilla - простой и надежный конструктор договоров от юристов Lex Borealis"/>
	<meta name="DC.creator" content="Lex Borealis"/>
	<meta name="DC.creator.name" content="Lex Borealis"/>
	<meta name="DC.subject" content="докзила докзилла doczilla doczila сервис конструктор образец шаблон договор документ юрист бизнес онлайн купли продажи подряда доверенность бланк автомобиля оказания услуг трудовой поручения инвестирования аренды квартиры займа найма дарения гк рф консультант аренды гарант акт выполненных работ платежное поручение поставки акт приема передачи образцы заявлений анкета главбух срочный   "/>
	<meta name="DC.description" content="Doczilla - простой и надежный конструктор договоров от юристов Lex Borealis"/>
	<meta name="DC.publisher" content="Lex Borealis"/>
	<meta name="DC.publisher.url" content="http://lexborealis.com/"/>
	<meta name="DC.contributor" content="ООО Открытые Бизнес Решения"/>
	<meta name="DC.language" content="ru-RU"/>
	<meta name="DC.rights" content="Copyright 2012, Lex Borealis, LLC.  Все права защищены."/>
	<meta http-equiv="Pragma" content="no-cache"/>
	<meta http-equiv="Cache-Control" content="max-age=1209600, must-revalid"/>
	<meta name="DC.title" content="Doczilla - простой и надежный конструктор договоров от юристов Lex Borealis"/>
	<meta name="apple-mobile-web-app-title" content="Doczilla"/>
	<meta name="application-name" content="Doczilla"/>
	<meta name="msapplication-TileColor" content="#6699cc"/>
	<meta name="msapplication-TileImage" content="mstile-144x144.png"/>
	<meta name="theme-color" content="#6699cc"/>
	<meta name="yandex-verification" content="10661beca7c8c025"/>
	<meta name="yandex-verification" content="3320dc94e1f98719"/>
	<meta name="msvalidate.01" content="A4139C924828B840D9A254FFC628BFAD"/>
	<meta name="wmail-verification" content="4dc6a247eb39a0454da44580c62e8878"/>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
	<meta name="theme-color" content="#ffffff"/>
	<link rel="alternate" href="https://doczilla.ru/" hreflang="ru"/>
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
	<link rel="manifest" href="/manifest.json"/>
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2d6193"/>
	<link rel="stylesheet" href="assets/css/vendor.css"/>
	<link rel="stylesheet" href="assets/css/styles.css"/>  
	<script  src="assets/js/vendor.min.js"></script>
	<script  src="assets/js/scripts.min.js"></script>
	<!-- doczilla конструктор договоров-->
</head>
<body>
	<header data-uk-sticky class="navigate uk-navbar">
		<nav class="uk-container uk-container-center" role="navigation">
			<a href="./" class="uk-navbar-brand__mobile  uk-visible-small"><img src="assets/images/head-promo-logo.png" alt="Doczilla"></a>
			<a href="./" class="uk-navbar-brand uk-hidden-small"><img src="assets/images/head-promo-logo.png" alt="Doczilla"></a>
			<div class="uk-navbar-content uk-hidden-small phys_nav">
				<a href="#" class="uk-hidden-large  uk-hidden">Для физ. лиц</a>
				<a href="#" class="uk-visible-large  uk-hidden">Для физических лиц</a>
			</div>
			<div class="uk-navbar-content uk-hidden-small gos_nav">
				<a href="#" class="uk-hidden-large  uk-hidden">Для гос. сектора</a>
				<a href="#" class="uk-visible-large  uk-hidden">Для государственного сектора</a>
			</div>
		<!-- <div class="uk-navbar-content uk-hidden-small yur_nav">
			<a href="#">Для бизнеса</a>
		</div>  -->
		<div class="uk-navbar-flip uk-hidden-small">
			<div class="uk-button-group navigate__login">
				<a href="DYNAMIC_URL_FREE_FORMS" class="button  button--green-hover uk-hidden-small">Войти</a> 
			</div>
		</div>
		<div class="uk-navbar-flip uk-visible-small button-mobile">
			<a href="tel:88007000816" class="doc-icon doc-icon-phone phone"></a> 		 
			<a href="DYNAMIC_URL_FREE_FORMS" class="doc-icon doc-icon-login"></a> 		 
		</div>
		<div class="uk-navbar-flip navigate__phone uk-hidden-small" id="js-callback-toggle">
			<a href="#">8 (800) 700 08 16</a>
		</div>
		<!--Форма заказа обратного звонка--> 
		<form class="navigate__callback" id="js-form-callback">  <!-- для отображения окна класс navigate__callback--active -->			
			<h3>Заказать обратный <br>
				звонок
			</h3>
			<div class="navigate__callback__input-wrapper">
				<input type="text" placeholder="Имя" id="js-callback-name">
				<span id="js-callback-name-error"></span>
			</div>	
			<div class="navigate__callback__input-wrapper">
				<input type="text" placeholder="E-mail" id="js-callback-email">
				<span id="js-callback-email-error"></span>
			</div>	
			<div class="navigate__callback__input-wrapper">
				<input type="text" placeholder="+7 000 000 00 00" id="js-callback-phone">
				<span id="js-callback-phone-error"></span>
			</div>
			<div class="navigate__callback__input-wrapper">
				<div id="callback-recaptcha" data-sitekey="6Lezxx4UAAAAAEYE_GgthpGKn-qirqme8FbykCLf" class="g-recaptcha"></div>
				<span id="js-callback-success-error"></span>
			</div>
			<div class="navigate__callback__button-wrapper">
				<button class="button button--normal button--green-hover" type="submit">Заказать звонок</button>
			</div>
		</form>
		<!--/Форма заказа обратного звонка-->
	</nav>
</header>
<main role="main" class="categories">	
	<div class="uk-container uk-container-center categories__desctop">
		<div class="categories__desctop__wrapper">
			<!--Список категорий-->
			<div class="category-list">
				<ul>
					<li  class="active">  <!--к активной категории добавлаем класс active-->
						<a href="#doc-a">Категория 1</a>  <!--в ссылке id категории-->
					</li>
				</ul>
			</div>
			<!--/Список категорий-->		
			<!--Список документов-->
			<div class="doc-list">
				<ul>
					<li id="doc-a" class="doc-list__title">
						Категория
						<span>7 <br> 
							документов
						</span>
					</li>	
					<li class="doc-list__doc" > 
						<a title="Документ" href="">Документ</a>
					</li>	
					<li class="doc-list__doc doc-list__doc--exp"> 
						<a title="Документ эксперт" href="">Документ эксперт</a> 
					</li>
				</ul>
			</div>
			<!--/Список документов-->
		</div>		    	
	</div>
</main>	 
</body>
</html>