<!DOCTYPE html>
<html lang="en">
<head>
	<title>Doczilla конструктор договоров</title>
	<meta charset="UTF-8"/>
	<meta name="keywords" content="докзила докзилла doczilla doczila сервис конструктор образец шаблон договор документ юрист бизнес онлайн купли продажи подряда доверенность бланк автомобиля оказания услуг трудовой поручения инвестирования аренды квартиры займа найма дарения гк рф консультант аренды гарант акт выполненных работ платежное поручение поставки акт приема передачи образцы заявлений анкета главбух срочный"/>
	<meta name="description" content="Doczilla - простой и надежный конструктор договоров от юристов Lex Borealis"/>
	<meta name="google-site-verification" content="jSOZFAJ_Ifd5s2PHZ9kvaNcYU9QESJraFNqi1-CbDGY"/>
	<meta name="subject" content="Doczilla конструктор договоров"/>
	<meta name="copyright" content="Doczilla"/>
	<meta name="language" content="ru"/>
	<meta name="robots" content="index,follow"/>
	<meta name="HandheldFriendly" content="True"/>
	<meta name="date" content="Jan. 1, 2017"/>
	<meta name="DC.title" content="Doczilla - простой и надежный конструктор договоров от юристов Lex Borealis"/>
	<meta name="DC.creator" content="Lex Borealis"/>
	<meta name="DC.creator.name" content="Lex Borealis"/>
	<meta name="DC.subject" content="докзила докзилла doczilla doczila сервис конструктор образец шаблон договор документ юрист бизнес онлайн купли продажи подряда доверенность бланк автомобиля оказания услуг трудовой поручения инвестирования аренды квартиры займа найма дарения гк рф консультант аренды гарант акт выполненных работ платежное поручение поставки акт приема передачи образцы заявлений анкета главбух срочный   "/>
	<meta name="DC.description" content="Doczilla - простой и надежный конструктор договоров от юристов Lex Borealis"/>
	<meta name="DC.publisher" content="Lex Borealis"/>
	<meta name="DC.publisher.url" content="http://lexborealis.com/"/>
	<meta name="DC.contributor" content="ООО Открытые Бизнес Решения"/>
	<meta name="DC.language" content="ru-RU"/>
	<meta name="DC.rights" content="Copyright 2012, Lex Borealis, LLC.  Все права защищены."/>
	<meta http-equiv="Pragma" content="no-cache"/>
	<meta http-equiv="Cache-Control" content="max-age=1209600, must-revalid"/>
	<meta name="DC.title" content="Doczilla - простой и надежный конструктор договоров от юристов Lex Borealis"/>
	<meta name="apple-mobile-web-app-title" content="Doczilla"/>
	<meta name="application-name" content="Doczilla"/>
	<meta name="msapplication-TileColor" content="#6699cc"/>
	<meta name="msapplication-TileImage" content="mstile-144x144.png"/>
	<meta name="theme-color" content="#6699cc"/>
	<meta name="yandex-verification" content="10661beca7c8c025"/>
	<meta name="yandex-verification" content="3320dc94e1f98719"/>
	<meta name="msvalidate.01" content="A4139C924828B840D9A254FFC628BFAD"/>
	<meta name="wmail-verification" content="4dc6a247eb39a0454da44580c62e8878"/>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
	<meta name="theme-color" content="#ffffff"/>
	<link rel="alternate" href="https://doczilla.ru/" hreflang="ru"/>
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
	<link rel="manifest" href="/manifest.json"/>
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2d6193"/>
	<link rel="stylesheet" href="assets/css/vendor.css"/>
	<link rel="stylesheet" href="assets/css/styles.css"/>
	<script  src="assets/js/vendor.min.js"></script>
	<script  src="assets/js/scripts.min.js"></script>
	<!-- doczilla конструктор договоров-->
</head>
<body style="overflow: hidden;">
	<header data-uk-sticky class="navigate uk-navbar">
		<nav class="uk-container uk-container-center" role="navigation">
			<div class="navigate__desctop">
				<a href="./" class="uk-navbar-brand">
					<img src="assets/images/head-promo-logo.png" alt="Doczilla">
				</a>
				<div class="uk-navbar-flip">
					<div class="uk-button-group navigate__desctop__login">
						<a href="DYNAMIC_URL_FREE_FORMS" class="button  button--green-hover">Войти</a> 
					</div>
				</div>
				<div class="uk-navbar-flip navigate__desctop__phone" id="js-callback-toggle">
					<a href="#">8 (800) 700 08 16</a>
				</div>
			</div>
			<div class="navigate__mobile">
				<a href="./" class="uk-navbar-brand">
					<img src="assets/images/head-promo-logo.png" alt="Doczilla">
				</a>
				<div class="uk-navbar-flip uk-visible-small navigate__mobile__button">
					<a href="tel:88007000816" class="doc-icon doc-icon-phone"></a> 		 
					<a href="DYNAMIC_URL_FREE_FORMS" class="doc-icon doc-icon-login"></a> 		 
				</div>
			</div>
            <!-- 		<div class="uk-navbar-content uk-hidden-small phys_nav">
               <a href="#" class="uk-hidden-large  uk-hidden">Для физ. лиц</a>
               <a href="#" class="uk-visible-large  uk-hidden">Для физических лиц</a>
           </div> -->
            <!-- 		<div class="uk-navbar-content uk-hidden-small gos_nav">
               <a href="#" class="uk-hidden-large  uk-hidden">Для гос. сектора</a>
               <a href="#" class="uk-visible-large  uk-hidden">Для государственного сектора</a>
           </div> -->
            <!-- <div class="uk-navbar-content uk-hidden-small yur_nav">
               <a href="#">Для бизнеса</a>
           </div>  -->
           <!--Форма заказа обратного звонка--> 
           <form class="navigate__callback" id="js-form-callback">
           	<!-- для отображения окна класс navigate__callback--active -->			
           	<h3>Заказать обратный <br>
           		звонок
           	</h3>
           	<div class="navigate__callback__input-wrapper">
           		<input type="text" placeholder="Имя" id="js-callback-name">
           		<span id="js-callback-name-error"></span>
           	</div>
           	<div class="navigate__callback__input-wrapper">
           		<input type="text" placeholder="E-mail" id="js-callback-email">
           		<span id="js-callback-email-error"></span>
           	</div>
           	<div class="navigate__callback__input-wrapper">
           		<input type="text" placeholder="+7 000 000 00 00" id="js-callback-phone">
           		<span id="js-callback-phone-error"></span>
           	</div>
           	<div class="navigate__callback__input-wrapper">
           		<div id="callback-recaptcha" data-sitekey="6Lezxx4UAAAAAEYE_GgthpGKn-qirqme8FbykCLf" class="g-recaptcha"></div>
           		<span id="js-callback-success-error"></span>
           	</div>
           	<div class="navigate__callback__button-wrapper">
           		<button class="button button--normal button--green-hover" type="submit">Заказать звонок</button>
           	</div>
           </form>
           <!--/Форма заказа обратного звонка-->
       </nav>
   </header>
   <main role="main" class="categories">
   	<div class=" categories__desctop">
   		<div class="categories__desctop__wrapper">
   			<div class="docs">
   				<div class="uk-container  uk-container-center">
   					<div class="uk-grid">
   						<div class="uk-width-1-1 docs__redirect">
   							<h2>Документы для физических лиц</h2>
   						</div>
   						<div class="uk-width-1-1 docs__tags">
   							<a href="#url770" class="button button--white button--green-hover active">Аренда</a>				<!--  в ссылке id категории -->
   							<a href="#url771" class="button button--white button--green-hover">Безвозмездное пользование</a>
   							<a href="#url510" class="button button--white button--green-hover">Дарение</a> 				
   							<a href="#url508" class="button button--white button--green-hover">Доверенности</a>				
   							<a href="#url777" class="button button--white button--green-hover">Заём</a>
   							<a href="#url509" class="button button--white button--green-hover">Купля-продажа</a>				
   							<a href="#url993" class="button button--white button--green-hover">Исполнение обязательств</a>
   							<a href="#url778" class="button button--white button--green-hover">Оказание услуг</a>				
   							<a href="#url948" class="button button--white button--green-hover">Судебные споры</a>
                           <!-- 	<a href="#url773" class="button button--white button--green-hover">Недвижимость</a>				
                              <a href="#url768" class="button button--white button--green-hover">Мена</a>				
                              <a href="#url948" class="button button--white button--green-hover">Судебные споры</a> -->
                          </div>
                      </div>
                  </div>
              </div>
              <div class="scroll-section">
              	<!--Список документов-->
              	<div class="doc-list">
              		<ul>
              			<li id="doc-a" class="doc-list__title doc-list__title--active">
              				<div class="center-wrapper  uk-container uk-container-center"">
              					Категория
              					<span>7 <br> 
              						документов
              					</span>
              				</div>
              			</li>
              			<li class="doc-list__doc uk-container  uk-container-center">  
              				<a title="Документ" href="">Документ</a>
              			</li>  <li class="doc-list__doc uk-container  uk-container-center">  
                      <a title="Документ" href="">Документ</a>
                    </li>
              			<li id="doc-a" class="doc-list__title">
              				<div class="center-wrapper uk-container uk-container-center">
              					Категория
              					<span>7 <br> 
              						документов
              					</span>
              				</div>
              			</li>
              			<li class="doc-list__doc uk-container  uk-container-center" > 
              				<a title="Документ" href="">Документ</a>
              			</li>
              			<li class="doc-list__doc uk-container  uk-container-center doc-list__doc--exp"> 
              				<a title="Документ эксперт" href="">Документ эксперт</a> 
              			</li>
              		</ul>
              	</div>
              	<!--/Список документов-->
              	<div class="callback">
              		<div class="uk-container uk-container-center xl_l-v">
              			<div class="uk-grid">
              				<div class="uk-width-1-3"><span>8 (800) 700 08 16</span> </div>
              				<div class="uk-width-1-3"><button class="button button--white button--green-hover js-callback-toggle--open">Заказать звонок</button></div>
              				<div class="uk-width-1-3">
              					<ul>
              						<li><a href="https://www.facebook.com/doczilla.ru/" class="doc-icon doc-icon-fb" target="_blank"></a></li>
              						<li><a href="https://vk.com/doczilla_ru" target="_blank" class="doc-icon doc-icon-vk"></a></li>
              						<li><a href="https://www.youtube.com/channel/UCUnnEeUX1CIF99Pelw9PMdw" target="_blank" class="doc-icon doc-icon-youtube" ></a></li>
              						<li><a href="https://twitter.com/Doczilla_ru" target="_blank" class="doc-icon doc-icon-tw"></a></li>
              						<li><a href="https://www.instagram.com/doczilla_ru/" target="_blank" class="doc-icon doc-icon-inst"></a></li>
              					</ul>
              				</div>
              			</div>
              		</div>
              		<div class="uk-container uk-container-center m-v">
              			<div class="uk-grid">
              				<div class="uk-width-1-2 uk-text-center"><span>8 (800) 700 08 16</span> </div>
              				<div class="uk-width-1-2 uk-text-center"><button class="button button--white button--green-hover js-callback-toggle--open">Заказать звонок</button></div>
              				<ul>
              					<li><a href="https://www.facebook.com/doczilla.ru/" class="doc-icon doc-icon-fb" target="_blank"></a></li>
              					<li><a href="https://vk.com/doczilla_ru" target="_blank" class="doc-icon doc-icon-vk"></a></li>
              					<li><a href="https://www.youtube.com/channel/UCUnnEeUX1CIF99Pelw9PMdw" target="_blank" class="doc-icon doc-icon-youtube" ></a></li>
              					<li><a href="https://twitter.com/Doczilla_ru" target="_blank" class="doc-icon doc-icon-tw"></a></li>
              					<li><a href="https://www.instagram.com/doczilla_ru/" target="_blank" class="doc-icon doc-icon-inst"></a></li>
              				</ul>
              			</div>
              		</div>
              		<div class="uk-container uk-container-center s-v">
              			<div class="uk-grid">
              				<div class="uk-width-1-1 uk-text-center">
              					<span>8 (800) 700 08 16</span>
              				</div>
              				<div class="uk-width-1-1 uk-text-center">
              					<a  href="tel:88007000816" class="button button--white button--green-hover">Позвоните нам</a>
              				</div>
              				<ul>
              					<li><a href="https://www.facebook.com/doczilla.ru/" class="doc-icon doc-icon-fb" target="_blank"></a></li>
              					<li><a href="https://vk.com/doczilla_ru" target="_blank" class="doc-icon doc-icon-vk"></a></li>
              					<li><a href="https://www.youtube.com/channel/UCUnnEeUX1CIF99Pelw9PMdw" target="_blank" class="doc-icon doc-icon-youtube" ></a></li>
              					<li><a href="https://twitter.com/Doczilla_ru" target="_blank" class="doc-icon doc-icon-tw"></a></li>
              					<li><a href="https://www.instagram.com/doczilla_ru/" target="_blank" class="doc-icon doc-icon-inst"></a></li>
              				</ul>
              			</div>
              		</div>
              	</div>
              	<div class="footer">
              		<footer class="uk-container uk-container-center uk-padding-remove">
              			<!--Desctop footer menu-->
              			<div class="footer__menu uk-grid uk-hidden-small">
              				<div class="footer__bottom-menu  uk-width-large-1-3 uk-width-medium-1-3">
              					<ul>
              						<li>
              							<h4>Doczilla</h4>
              						</li>
              						<li><a href="DYNAMIC_URL_FREE_FORMS">Перейти к документам</a></li>
              						<li><span class=" js-callback-toggle--open">Заказать звонок</span></li>
              						<li><a href="DYNAMIC_URL_MAIN_PAGE#/authorization">Авторизоваться</a></li>
              					</ul>
              				</div>
              				<div class="footer__bottom-menu  uk-width-large-1-3 uk-width-medium-1-3">
              					<ul>
              						<li>
              							<h4>Конструктор договоров</h4>
              						</li>
              						<li><a href="DYNAMIC_URL_MAIN_PAGE">Войти</a></li>
              						<li><a href="DYNAMIC_URL_MAIN_PAGE#/usersettings/profile">Личный кабинет</a></li>
              						<li><a href="DYNAMIC_URL_FREE_FORMS">Бесплатные документы</a></li>
              						<li><a href="DYNAMIC_URL_ADVICES">Консультации</a></li>
              						<!-- <li><a href="">Поддержка</a></li> -->
              						<!-- <li><a href="DYNAMIC_URL_USER_HELP">Справка</a></li> -->
              					</ul>
              				</div>
              				<div class="footer__bottom-menu  uk-width-large-1-3 uk-width-medium-1-3">
              					<ul>
              						<li>
              							<h4>Контакты</h4>
              						</li>
              						<a href="https://www.google.ru/maps/place/%D0%9D%D0%B8%D0%B6%D0%BD%D1%8F%D1%8F+%D0%A1%D1%8B%D1%80%D0%BE%D0%BC%D1%8F%D1%82%D0%BD%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F+%D1%83%D0%BB.,+10,+%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0,+105120/@55.7521923,37.6697476,18z/data=!4m13!1m7!3m6!1s0x46b54a9380c8516b:0x2ccab08a1ff3c925!2z0J3QuNC20L3Rj9GPINCh0YvRgNC-0LzRj9GC0L3QuNGH0LXRgdC60LDRjyDRg9C7LiwgMTAsINCc0L7RgdC60LLQsCwgMTA1MTIw!3b1!8m2!3d55.7521319!4d37.6708473!3m4!1s0x46b54a9380c8516b:0x2ccab08a1ff3c925!8m2!3d55.7521319!4d37.6708473" target="_blank">
              							<li>105120,</li>
              							<li>г. Москва,ул. Нижняя</li>
              							<li>Сыромятническая,</li>
              							<li>д. 10, строение 2</li>
              						</a>
              						<li>&nbsp;</li>
              						<li><a href="mailto:support@doczilla.ru">support@doczilla.ru</a></li>
              						<li>8 (800) 700 08 16</li>
              					</ul>
              				</div>
              			</div>
              			<!--/Desctop footer menu-->
              			<!--Mobile footer menu--> 
              			<div class="footer__menu footer__menu--mobile uk-grid uk-visible-small">
              				<div class="uk-accordion uk-container-center" data-uk-accordion={showfirst:false}>
              					<h3 class="uk-accordion-title">Doczilla <i class="uk-icon-chevron-down uk-align-right"></i> </h3>
              					<div class="uk-accordion-content">
              						<ul>
              							<li>
              								<h4>Doczilla</h4>
              							</li>
              							<li><a href="DYNAMIC_URL_FREE_FORMS">Перейти к документам</a></li>
              							<li><span class=" js-callback-toggle--open">Заказать звонок</span></li>
              							<li><a href="DYNAMIC_URL_MAIN_PAGE#/authorization">Авторизоваться</a></li>
              						</ul>
              					</div>
              					<h3 class="uk-accordion-title">Конструктор договоров <i class="uk-icon-chevron-down uk-align-right"></i></h3>
              					<div class="uk-accordion-content">
              						<ul>
              							<li>
              								<h4>Конструктор договоров</h4>
              							</li>
              							<li><a href="DYNAMIC_URL_MAIN_PAGE">Войти</a></li>
              							<li><a href="DYNAMIC_URL_MAIN_PAGE#/usersettings/profile">Личный кабинет</a></li>
              							<li><a href="DYNAMIC_URL_FREE_FORMS">Бесплатные документы</a></li>
              							<li><a href="DYNAMIC_URL_ADVICES">Консультации</a></li>
              							<!-- <li><a href="">Поддержка</a></li> -->
              							<!-- <li><a href="DYNAMIC_URL_USER_HELP">Справка</a></li> -->
              						</ul>
              					</div>
              					<h3 class="uk-accordion-title">Контакты <i class="uk-icon-chevron-down uk-align-right"></i></h3>
              					<div class="uk-accordion-content">
              						<ul>
              							<a href="https://www.google.ru/maps/place/%D0%9D%D0%B8%D0%B6%D0%BD%D1%8F%D1%8F+%D0%A1%D1%8B%D1%80%D0%BE%D0%BC%D1%8F%D1%82%D0%BD%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F+%D1%83%D0%BB.,+10,+%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0,+105120/@55.7521923,37.6697476,18z/data=!4m13!1m7!3m6!1s0x46b54a9380c8516b:0x2ccab08a1ff3c925!2z0J3QuNC20L3Rj9GPINCh0YvRgNC-0LzRj9GC0L3QuNGH0LXRgdC60LDRjyDRg9C7LiwgMTAsINCc0L7RgdC60LLQsCwgMTA1MTIw!3b1!8m2!3d55.7521319!4d37.6708473!3m4!1s0x46b54a9380c8516b:0x2ccab08a1ff3c925!8m2!3d55.7521319!4d37.6708473" target="_blank">
              								<li>105120,</li>
              								<li>г. Москва,ул. Нижняя</li>
              								<li>Сыромятническая,</li>
              								<li>д. 10, строение 2</li>
              							</a>
              							<li>&nbsp;</li>
              							<li><a href="mailto:support@doczilla.ru">support@doczilla.ru</li>
              							</a>
              							<li>8 (800) 700 08 16</li>
              						</ul>
              					</div>
              				</div>
              			</div>
              			<!--/Mobile footer menu-->
              			<!--Форма заявки-->
              			<div class="footer__questions uk-grid">
              				<div class="uk-width-1-1">
              					<div class="uk-accordion" data-uk-accordion={showfirst:false}>
              						<h3 class="uk-accordion-title">Вопросы?</h3>
              						<div class="uk-accordion-content">
              							<form class="form-content" id="js-form-questions">
              								<table>
              									<tr>
              										<td>
              											<input type="text" class="js-remove-error" placeholder="Имя" id="js-questions-name"> <br> 
              											<input type="text" class="js-remove-error" placeholder="E-mail" id="js-questions-email">
              										</td>
              										<td rowspan="3" class="text">
              											<textarea placeholder="Напишите тут что-нибудь" id="js-questions-text"></textarea>
              										</td>
              										<td class="recaptcha">
              											<div id="questions-recaptcha" data-sitekey="6Lezxx4UAAAAAEYE_GgthpGKn-qirqme8FbykCLf" class="g-recaptcha"></div>
              											<span class="" id='js-questions-success-error'></span>
              										</td>
              									</tr>
              									<tr>
              										<td></td>
              										<td></td>
              									</tr>
              									<tr>
              										<td></td>
              										<td class="uk-text-right">
              											<button type="submit" class="button">Отправить</button>
              										</td>
              									</tr>
              								</table>
              							</form>
              						</div>
              					</div>
              				</div>
              			</div>
              			<!--/Форма заявки-->
              			<div class="footer__social uk-grid">
              				<div class=" uk-width-1-3">
              					<div class="wrapper-soc ">
              						<script type="text/javascript" src="//vk.com/js/api/openapi.js?136"></script>
              						<div id="vk_groups"> </div>
              						<script type="text/javascript">VK.Widgets.Group("vk_groups", {redesign: 1, mode: 3, width: "280", height: "200", color1: 'FFFFFF', color2: '000000', color3: '5E81A8'}, 134326117);</script>  	
              					</div>
              				</div>
              				<div class="uk-width-1-3">
              					<div class="wrapper-soc">
              						<a class="twitter-timeline" data-lang="ru" data-width="280" data-height="225" data-theme="light" href="https://twitter.com/Doczilla_ru">Doczilla.ru</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              					</div>
              				</div>
              				<div class="uk-width-1-3">
              					<div class="wrapper-soc">
              						<div id="fb-root"></div>
              						<script>(function(d, s, id) {
              							var js, fjs = d.getElementsByTagName(s)[0];
              							if (d.getElementById(id)) return;
              							js = d.createElement(s); js.id = id;
              							js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.11';
              							fjs.parentNode.insertBefore(js, fjs);
              						}(document, 'script', 'facebook-jssdk'));
              					</script>
              					<div class="fb-page" data-href="https://www.facebook.com/doczilla.ru/" data-tabs="timeline" data-width="280" data-height="225" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
              						<blockquote cite="https://www.facebook.com/doczilla.ru/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/doczilla.ru/">Doczilla</a></blockquote>
              					</div>
              				</div>
              			</div>
              		</div>
              	</footer>
              	<div class="copyright">Copyright 2016-2017 «Lex Borealis Corporate Services», LLC</div>
              </div> 
          </div>
      </div>
  </div>
  <div class="categories__mobile uk-visible-small">
  </div>
</main>
</body>
</html>