<!DOCTYPE html>
<html lang="en">
<head>
	//= blocks/header.html
</head>
	<body>
			//= blocks/navigate.html
		<main role="main">	
			//= blocks/promo-phys.html
			//= blocks/use-cases.html
			//= blocks/green-block.html
			//= blocks/video.html
			//= blocks/advantage.html
			//= blocks/docs.html
			//= blocks/calc.html
			//= blocks/float-block.html
			//= blocks/start.html
			//= blocks/feedback.html
			//= blocks/partners.html
			//= blocks/callback.html
		</main>	 
			//= blocks/footer.html
			//= blocks/modal-dialogs.html
			//= blocks/scripts.html
	</body>
</html>