
.page_404 {
	background: #2c6093;
	background-image: url('../images/pattern.png'), linear-gradient(-45deg, #2c6093 0%, #6699cc 100%);
	color: #fff; 
	height: 100vh;
	min-height: 700px;
	display: flex;
	flex-direction: column;
	height: 100%;
	font-size: 18px;
	line-height: 1;
	.logo {
		height: 90px;
		padding: 25px;
		img {
			height: 40px;
		} 
	}
	.center_content {
		display: flex;
		flex-direction: column;
		align-items: center;		
		height: 450px;
		margin: auto;
		text-align: center;
		.font_large { 
			font-size: 235px;
			@include small-screen(){
				font-size: 180px;	
			}
		}
		.font_medium {
			font-size: 40px;
			@include small-screen(){
				font-size: 32px;	
			}
		}
		.text_small {
			max-width: 550px;
			margin: 50px;
			line-height: 1.5;
		}
	}
	.footer {
		display: flex;
		flex-direction: row; 
		justify-content: space-between;
		@include small-screen(){
			display: none;	
		}		
		.telephone {
			padding: 25px;
		}
		.social {
			padding: 25px;
			background-color: inherit;
		}
	}
	.footer{
		height: auto;
		background-color: transparent;
	}
}
