.doc-preview{
	position: relative;
	font-family: 'Roboto-Regular';
	color: #666;
	@include small-screen(){
		overflow: scroll;
		height: 100vh;
	}
	&__desctop{		
		@include small-screen(){
			height: 100vh;
		}	
		&__wrapper{
			@include small-screen(){
				height: 100vh;
			}	
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto 1fr;
			display: -ms-grid;
			-ms-grid-columns:  1fr;
			-ms-grid-rows: auto 1fr;  
			width: 100%;
			height: calc(100vh - 54px);
			.docs{
				margin-bottom: 0; 
				padding: 15px 0 0 0; 
				.active{
					background-color: $color-green;
					border-color: $color-green;
					color: #fff;
				} 
				&__tags{
					margin-bottom: 15px;
				}
			} 
			.scroll-section{
				overflow-x: hidden;
				overflow-y: scroll;
				@include small-screen(){
					height: 100%; 
					overflow: hidden;
				}
			} 
		}
	}

	.document{
		@include small-screen(){
			height: 100vh; 
		}
		&__title{		
			background-color: $color-green;
			padding: 15px 40px;
			color: #fff;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;	
			a, i{
				font-style: normal;
				color: #fff;
			}		
			i{
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		&__content{					
			margin: 5px 0; 		
			padding-bottom: 100px;
			h1{
				@extend %roboto_medium;
				margin: 30px 0 20px 0;
				color: $color-blue-dark;
				span{
					font-size: 14px;
					background: #66cc99;
					background: -moz-linear-gradient(left, #66cc99 0%, #6699cb 100%);
					background: -webkit-linear-gradient(left, #66cc99 0%,#6699cb 100%);
					background: linear-gradient(to right, #66cc99 0%,#6699cb 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66cc99', endColorstr='#6699cb',GradientType=1 );
					padding: 4px 15px; 
					position: relative;
					font-family: Roboto;
					color: #fff;
					top: -4px;
					box-shadow: 0px 5px 21px -1px rgba(0,0,0,0.25);
					border-radius: 4px; 
					cursor: default;
				}

			}		
			p{
				margin: 20px 0;
				color: #666;
				line-height: 1.5;
				color: #666;
			}		
			ul{
				line-height: 1.5;
				font-family: 'Roboto-Regular';
				color: #666;
			}

			/* 
			ul{    
				padding-left: 30px;
				margin: 0 0 20px 0;
				li{
					position: relative;
					&:before {
						content:  "—";
						position: absolute;
						left: -20px;
					} 
				}						
			} */

			.normalize-promo-a{
				&:hover{
					text-decoration: none !important;
				}
			}
		}

	}
	&__bottom{
		position: fixed;
		width: 100%;
		bottom: 0;
		left: 0;
		background-color: #e2e6f0;
		padding-top: 10px;
		padding-bottom: 10px;
		table{
			margin: auto;
		}
		.desc{
			line-height: 1.5;
			padding: 0 30px;
		}
		.button{
			padding: 0 15px;	
			line-height: 36px !important;	 
			a{
				width: 280px; 
				font-size: 25px;
				text-align: center;
				box-shadow: 0px 5px 21px -1px rgba(0,0,0,0.25);
				background-color: $color-yellow ;
				border-color: $color-yellow;
				color: #333;
				&:hover{
					color: #fff;
					border-color: $color-green;
					background-color: $color-green;
				}

				&:active{
					color: #fff;
					border-color: $color-green;
					background-color: $color-green;
				}
			}
		} 
		&--large{
			@extend .xl-v;
			padding: 20px 30px;
			.desc{
			}
			.button{

			}
		}	

		&--medium{
			@extend .l_m-v;
			.desc{
				text-align: center;
			}
			.button{
				width: 100%;
				a{
					display: block;
					margin: 10px auto;
				}
			}
		}
	}
	&--landing{
		position: relative;
		.document{
			height: auto;
			min-height: 300px; 
		}	
		@include small-screen(){
			height: auto;
			overflow: hidden;
			.document{
				height: auto;
				min-height: 300px;
			}		
		}
		.doc-preview__desctop{		
			@include small-screen(){
				height: auto;
			}	
			&__wrapper{
				@include small-screen(){
					height: auto;
				}	
				display: grid;
				grid-template-columns: 1fr;
				grid-template-rows: auto 1fr;
				display: -ms-grid;
				-ms-grid-columns:  1fr;
				-ms-grid-rows: auto 1fr;  
				width: 100%;
				height: auto;
			}
		}
		img{
			float: left;
			margin-right: 30px;
			margin-bottom: 94px; 
			@include small-screen(){
				display: none;
			}
		}
		.doc-preview__bottom{
			position: absolute;
		}
		
	}
}



