.doc-preview{	
	&>div{
		padding: 0 10px; 
	}
	height: 100%;	
	&__desctop{
		@include small-screen(){
			display: none;
		}
		&__wrapper{
			display: grid;
			grid-template-columns: 220px 1fr;
			display: -ms-grid;
			-ms-grid-columns: 220px 1fr;
			-ms-grid-rows: 1fr;  
			width: 100%;
			margin: 15px 0; 
			ul{
				list-style: none;
				margin: 0;
				padding: 0; 
			}
			.category-list{
				height: calc(100vh - 105px);
				width: auto; 
				grid-column: 1;
				grid-row: 1;
				-ms-grid-column: 1;
				-ms-grid-row: 1;
				padding-right: 10px;
				overflow-x: hidden; 
				overflow-y: scroll; 
				li{
					display: block;
					margin: 6px 0;				
					border-radius: 4px;
					background-color: #e2e6f0;
					cursor: pointer;
					font-size: 16px;
					color: #666;
					&:hover{
						background-color: #b3c4d8;
						color: #fff; 
						a{
							color: #fff; 
						}
					}
					&.active{
						background-color: $color-green;
						color: #fff; 
						a{
							color: #fff; 
						}
					} 
					a{
						display: block;
						padding: 10px 20px; 
						text-decoration: none;
						color: #666;
					}
				}
			}

			.document{
				height: calc(100vh - 120px);
				grid-column: 2;
				grid-row: 1;
				-ms-grid-row: 1;
				-ms-grid-column: 2;
				&__wrapper{
					height: calc(100vh - 105px);
					display: grid;
					grid-template-columns: 1fr;
					grid-template-rows: 38px 1fr auto;
					display: -ms-grid;
					-ms-grid-template-columns: 1fr;
					-ms-grid-template-rows: 38px 1fr auto;
					margin-top: 5px;
					margin-left: 10px;
				}
				&__title{
					ms-grid-row: 1;
					ms-grid-column: 1;
					-ms-grid-row: 1;
					-ms-grid-column: 1;
					background-color: $color-blue-dark;
					padding: 10px 30px; 
					color: #fff;
					border-radius: 4px;		
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;	
					a, i{
						font-style: normal;
						color: #fff;
					}		
					i{
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
				&__content{
					grid-row: 2;
					grid-column: 1;	
					-ms-grid-row: 2;
					-ms-grid-column: 1;
					overflow-y: scroll; 	
					margin: 5px 0; 
					h1{
						@extend %roboto_medium;
						margin: 50px 40px 20px 40px;
						color: $color-blue-dark;
					}		
					p{
						margin: 0 40px 0 40px;
						color: #666;
						line-height: 1.5;
						padding-bottom: 20px; 
					}
				}
				&__bottom{
					grid-row: 3;
					grid-column: 1;
					-ms-grid-row: 3;
					-ms-grid-column: 1;
					background-color: #e2e6f0;
					border-radius: 4px;		
					padding: 10px;
					.desc{
						line-height: 1.5;
						padding: 0 30px;
					}
					.button{
						a{
							width: 160px;
							text-align: center;
							box-shadow: 0px 5px 21px -1px rgba(0,0,0,0.25);
						}
					}

					&--large{
						@extend .xl-v;
						padding: 20px 30px;
						.desc{
						}
						.button{
							
						}
					}	

					&--medium{
						@extend .l_m-v;
						.desc{
							text-align: center;
						}
						.button{
							width: 100%;
							a{
								display: block;
								margin: 10px auto;
							}
						}
					}
				}
			}
		}
	}
	&__mobile{
		min-height: 100vh; 
	}
}