.footer{
	padding: 50px 0 0 0;
	background-color: #333;
	color: #fff;
	@include  medium-screen(){
		padding-left: 25px;
	}
	&__menu{
		padding-bottom: 15px;
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			color: #fff;
			h4{
				color: #fff;
				font-size: 20px;
				margin-bottom: 40px;
			}
			li{
				margin-bottom: 10px; 
			}
			a{
				color: #fff;
			}
		}	

		&--mobile{
			padding: 25px;
			ul{
				margin: 0;
				li{
					margin-bottom: 25px; 
					&:first-child{
						margin-top: 25px;
					}
				}
			}
			.uk-accordion{
				width: 90%;
				min-width: 250px;
			}
			.uk-accordion-title{
				color: #fff;
				background-color: transparent;
				border: 0; 
				margin: auto;
				padding: 15px 0; 
				border-bottom: 1px solid #fff;
				border-radius: 0 0 0 0;
				i{
					font-size: 14px;
					margin-top: 5px !important;
				}
			}
		}
	}	
	&__questions{
		margin-top: 0 !important;
		padding: 0;
		width: 100%;
		
		@include  small-screen(){
			display: none;
		}
		.uk-accordion-title{
			width: 96px;
			padding: 5px 30px;
			margin-bottom: 0;
			border-radius: 0;
			text-align: center;
			background-color: $color-yellow;
			border: none; 

		}
		.uk-accordion-content{
			background-color: $color-yellow;
			padding-bottom: 0;
		}
		form{
			padding: 15px;
			table{
				border-collapse: collapse;
				border-spacing: 0;
				width: 100%;
				td{
					vertical-align: top;
					padding: 10px;
				}
				.text{
					width: 100%;
					padding-right: 10px;
					textarea{
						width: 100%;
						height: 157px;
						padding: 10px;
						resize: none;
						box-sizing: border-box;
						background-color: #e5af33;
						border-radius: 4px;
						border: 1px solid #a57d22;
						&::placeholder{
							color:  #a57d22; 
						}
					}
				}
				input{
					height: 30px;
					width: 150px;
					padding: 0 10px;
					margin-bottom: 10px;
					border-radius: 4px;
					background-color: #e5af33;
					border: 1px solid #a57d22;
					&::placeholder{
						color:  #a57d22; 
					}
					&.input-error{
						border: 1px solid $color-red;
					}
				}
				.recaptcha{
					position: relative;
					.error-message{
						position: absolute;
						font-size: 14px;
						color: $color-red;
					}
					.success-message{
						position: absolute;
						font-size: 14px;
						color: $color-green;
					}
				}
				.button{
					padding: 0 15px;
					font-size: 16px;
					border-radius: 4px;
					border: 1px solid #ccc;
					background-color: #fff;
					cursor: pointer;
				}
			}
		}
	}
	&__social{
		margin-top: 40px;
		.wrapper-soc{
			width: 280px;	
		}
		@include  small-screen(){
			display: none;
		}
		@include  medium-screen(){
			display: none;
		}
	}
	.copyright{
		margin-top: 50px;
		text-align: center;
		background-color: #000;
		padding: 10px;
		opacity: 0.5;
		font-size: 15px;
		@include  medium-screen(){
			margin-left: -25px;
		}
		@include  small-screen(){
			margin-top: 0;
		}
	}
} 