.modal-dialogs{
	color: $color-blue-dark;
	.uk-modal-dialog{
		padding: 30px;
		    margin-top: 200px;
	}
	a{
		text-decoration: none;
		color: $color-blue-dark;
	}
	h3{
		color: $color-blue-dark;
		font-size: 18px;
	}
	p{
		color: $color-blue-dark;
		line-height: 1.5;

	}
}