.navigate{
	position: fixed;
	width: 100%;
	padding-top: 11px;
	padding-bottom: 11px;
	z-index: 1;
	.uk-navbar-brand {
		width: 170px;
		padding: 0;  
	} 
	&__mobile-menu{
		margin-right: 25px; 
	}
	.uk-navbar-flip{
		padding: 3px 0; 
	}
	&__phone{
		font-size: 18px;
		padding: 8px 0 !important;
	}
	&__login{
		margin-left: 15px; 
	}
}