.promo{
	padding: 64px 0 25px 0;
	min-height: calc(100vh - 64px);
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6699cc+1,2c6093+100 */
	background: #6699cc; /* Old browsers */
	background: linear-gradient(135deg, #6699cc 1%,#2c6093 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6699cc', endColorstr='#2c6093',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	&__mobile{		
		&__logo{
			margin-top: 20%;		
				img{
					max-width: 100%; 				
			}			
		}
		&__desc {	
				margin-top: 10%;
				margin-bottom: 10%;
				font-size: 24px;
				line-height: 1.5;
				color: #fff;
				h1{
					margin: 0;
					font-size: 24px;
					line-height: 1.5;
					color: #fff;
				}
				.lexx{
					color: #fff;
				}
			}
			&__buttons{
				a{
					width: 200px;
					margin-top: 25px; 
				}			
			}
		}
	}