
.video{
	&__mobile {		
		position: relative;	
		box-shadow: 0px -3px 22px 0px rgba(0,0,0,0.3);
		&__screen{
			position: relative;
			width: 100%;
			height: calc(100vh - 80px);
			min-height: 300px;
			background-image: url(/assets/images/Vertical_1.1.jpg); 
			background-position: center;
			z-index: 11;
			&--albom{
				background-image: url(/assets/images/Horizontal_1.1.jpg);
			}  
			&.in-play {
				opacity: 0;
				visibility: hidden;
				z-index: -1;
			}
		}
		&__play-btn {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 56px;
			height: 56px;
			background-image: url(/assets/images/play3.png);
			transform: translate(-50%, -50%);
			background-size: cover;
			cursor: pointer;
			transition: background-color .2s;
			border-radius: 50%;

		}
		iframe{
			position: absolute;
			top: 0;
			left: 0; 
			z-index: 10;
			width: 100%;
			height: calc(100vh - 80px);
			min-height: 300px;
		}
	}	
	&__desctop{
		&__wrapper{
			margin: 40px auto;
			@include Xlarge-screen(){
				width: 90%;
				height: 640px; 
			}
			@include large-screen(){
				width: 95%;
				height: 550px;
			}	
			@include medium-screen(){
				width: 95%;
				height: 550px;
			}		
			iframe{
				width: 100%;
				height: 100%;
			}
		}		
	} 
}
