// Colors
$color-base: #6699cb;
$color-blue-dark: #2f6296;
$color-base-text: #fff;
$color-green: #66cc99;
$color-orange: #ffaa69;


$mobile-breakpoint-max-start: 1219px;
$mobile-breakpoint-max-end: 1220px;

$mobile-breakpoint-large-start: 959px;
$mobile-breakpoint-large-end: 960px;

$mobile-breakpoint-medium-start: 766px;
$mobile-breakpoint-medium-end: 767px;

$mobile-breakpoint-small: 480px;
