 @mixin Xlarge-screen {
  @media all and (min-width: $mobile-breakpoint-max-end){
    @content
  }
}
@mixin large-screen {
  @media all and (min-width: $mobile-breakpoint-large-end) and (max-width: $mobile-breakpoint-max-start){
    @content
  }
}
@mixin medium-screen {
  @media all and (min-width: $mobile-breakpoint-medium-end) and (max-width: $mobile-breakpoint-large-start){
    @content
  }
}
@mixin small-screen {
  @media all and (max-width: $mobile-breakpoint-medium-start)   {
    @content
  }
}

//только на максимальном разрешении
.xl-v{
  display: none !important;
  @include Xlarge-screen(){
    display: block !important; 
  }
  @include large-screen(){
    display: none !important;
  }
  @include medium-screen(){
    display: none !important;
  }
}

//только на большом разрешении
.l-v{
  display: none !important;
  @include large-screen(){
    display: block !important;
  }
  @include medium-screen(){
    display: none !important;
  }
}

//только на среднем разрешении
.m-v{
  display: none !important;
  @include medium-screen(){
    display: block !important; 
  } 
  @include large-screen(){
    display: none !important;
  }
}

//только на мобильном разрешении
.s-v{
  display: none !important;
  @include Xlarge-screen(){
    display: none !important;
  }
  @include large-screen(){
    display: none !important;
  } 
  @include medium-screen(){
    display: none !important;
  } 
  @include small-screen(){
    display: block !important; 
  }
}

//только на максимальном и большом разрешении
.xl_l-v{
  display: none !important;
  @include Xlarge-screen(){
    display: block !important;
  }
  @include large-screen(){
    display: block !important;
  }
}
//только на большом и среднем разрешении
.l_m-v{
  display: none !important;
  @include large-screen(){
    display: block !important;
  }
  @include medium-screen(){
    display: block !important;
  }
} 
//только на среднем и мобильном разрешении
.m_s-v{ 
  display: none !important;
  @include medium-screen(){
    display: block !important;
  }
  @include small-screen(){
    display: block !important;
  }
}
