.mobile-slider{
	padding: 0 60px;
	.content-slide{
		width: 100%;
		height: auto;
	}
	.uk-slidenav{
		text-decoration: none !important;
		color: #c1c1c1!important;
	}
	.uk-dotnav{
		a{
			text-decoration: none !important;
		}
		li{
			width: 10px;
			a{ 
				width: 10px;
				height: 10px;
				background-color: #c1c1c1;			
			}
			&.uk-active>*{
				background-color: #6699CC;
				transform: scale(1);
			}
		}
	}
	
	.uk-slidenav-previous{
		left: 0
	}
	.uk-slidenav-next{
		right: 0;
	}
	@include small-screen(){
		.uk-slidenav-previous, .uk-slidenav-next{
			display: none !important;
		}
	};
} 

