@font-face {
	font-family: 'Exo2.0-Thin';
	src: url('../fonts/Exo2.0-Thin.eot');
	src: url('../fonts/Exo2.0-Thin.woff2') format('woff2'),
	url('../fonts/Exo2.0-Thin.woff') format('woff'),
	url('../fonts/Exo2.0-Thin.ttf') format('truetype'),
	url('../fonts/Exo2.0-Thin.svg#Exo2.0-Thin.eot') format('svg'),
	url('../fonts/Exo2.0-Thin.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TrebuchetMS';
	src: url('../fonts/TrebuchetMS.eot');
	src: url('../fonts/TrebuchetMS.woff2') format('woff2'),
	url('../fonts/TrebuchetMS.woff') format('woff'),
	url('../fonts/TrebuchetMS.ttf') format('truetype'),
	url('../fonts/TrebuchetMS.svg#Exo2.0-Thin.eot') format('svg'),
	url('../fonts/TrebuchetMS.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: 'TrebuchetMS';
}

.head-title{
	margin: 0 0 32px 0; 
	font: {
		family: 'Exo2.0-Thin';
		size: 36px;
		weight: 100;
	}
	text-align: center;
	color: #fff; 
	text-shadow: 0 1px 0 #000;
}