@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.eot');
	src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
	url('../fonts/Roboto-Regular.woff') format('woff'),
	url('../fonts/Roboto-Regular.ttf') format('truetype'),
	url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg'),
	url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url('../fonts/Roboto-Medium.eot');
	src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
	url('../fonts/Roboto-Medium.woff') format('woff'),
	url('../fonts/Roboto-Medium.ttf') format('truetype'),
	url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg'),
	url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: 'Roboto-Regular';
}

%roboto_medium{
	font-family: 'Roboto-Medium';
}

a.button, span.button {
	display: inline-block;
	vertical-align: middle;
	height: 38px;
	border: 1px solid;
	border-radius: 4px;
	padding: 0 38px;
	text-decoration: none;
	font-size: 16px;
	line-height: 38px;
	text-align: center;
	cursor: pointer;
	transition: background-color .2s;
	&--normal {
		background-color: $color-base;
		border-color: $color-base;
		color: $color-base-text;
	}

	&--green {
		background-color: $color-green;
		border-color: $color-green;
		color: $color-base-text;
	}
	&--white {
		border-color: #fff;
		color: #fff;		
	}

	&--hover-light:hover {
		background-color: transparent;
		border-color: #fff;
	}
	
	&--hover-light:hover {
		background-color: transparent;
		border-color: #fff;
	}

	&--hover-blue:hover, &--hover-blue:active {
		background-color: $color-base-text;
		border-color: $color-base;
		color: $color-base;
	}

	&--hover-white:hover, &--hover-white:active {
		background-color: transparent;
		border-color: $color-base-text;
	}

	&--block {
		display: block;
	}

	&--green-hover:hover, &--green-hover:active {
		color: #fff;
		border-color: $color-green;
		background-color: $color-green;
	}

	&--green-hover-light:hover, &--green-hoverlight:active {
		color: $color-green;
		border-color: $color-green;
		background-color: transparent;
	}
}