.advantage{
	margin-top: 30px;
	padding-bottom: 30px;
	&__desctop{
		&__block{
			min-height: 350px;
			margin: 25px 0 40px 0;
			img{
				width: 68px;
				height: 68px;
			}
			h2{
				margin: 40px 0 25px 0;
				font-size: 20px;
				line-height: 1.3;
				color:$color-blue-dark;
			}
			p{
				font-size: 18px;
				line-height: 1.5;
			}
		}		
	}  
	&__mobile{
		display: none;
		background-color: #2c6093;
		padding-bottom: 40px;
		@include medium-screen(){
			display: block;
		};	
		@include small-screen(){
			display: block;
		};	
		&__block{
			margin: 60px 21px 21px 21px;
			padding: 25px 20px 40px 20px;
			border-radius: 4px;
			background-color: #fff;
			box-shadow: 0px 0px 21px 8px rgba(0,0,0,0.16);
			img{
				width: 100px;
				height: 100px;
			}
			h2{
				@extend %roboto_medium;
				margin: 30px 0 0px 0;
				font-size: 36px;
				line-height: 1.3;
				color: $color-blue-dark;
			}
			p{
				font-size: 18px;
				line-height: 1.5;
			}
		}
		.uk-dotnav{
			margin-top: 20px;
		}
		.mobile-slider {
			padding: 0;
		}
	}
	@include small-screen(){
		margin: 0;	
		padding-bottom: 0;
	}
}   