.advice{
	background-color: #e2e6f0;
	margin-bottom: 50px;
	&__description{
		padding: 86px 70px;
		@include small-screen(){
			padding: 60px 10px;
		}
		h2{
			font-size: 36px;
			font-weight: bold;
			color: $color-blue-dark ;
			margin-bottom: 25px;
		}
		h3{
			font-size: 20px; 
			font-weight: bold; 
			color: $color-blue-dark ;
			margin-bottom: 10px;
		}
		p{
			display: inline-block;
			position: relative;
			font-size: 20px;
			line-height: 1.5;
			margin: 0;
			img{
				position: absolute;
				top: -20px;
				left: -45px;
			}
		}
		a{
			display: inline-block;
			margin-top: 25px
		}
	}
	&__desctop{
		height: 480px; 
		background-image: url(../images/kirill.png);
		background-repeat: no-repeat;
		background-position: 100%;
		@include large-screen(){
			background-size: 40%;
			background-position-y: 100px;
			.description{
				padding: 86px 60px;
			} 
		} 
	} 
	&__mobile{
		@extend .m_s-v; 
		text-align: center;
		h2{
			line-height: 1.5;
		} 
		.portrait{
			position: static;
			display: inline-block;
			margin-top: 20px;
		}
		h3{
			margin-top: 20px;
		}
	}
	.button.button--green{
		&:hover{
			color: $color-green;
			background-color: transparent;
		}
	}
}