.use-cases{
	margin-top: 50px;
	@include Xlarge-screen(){
		margin: 60px 0;
	} 
	&--container{
		position: relative;
		min-height: 510px;
		border: 1px solid transparent; 
		border-radius: 4px;
		text-align: center;
		line-height: 1.5;
		cursor: default;
		.image {
			width: 140px; 
			height: 140px;
			margin: 20px auto;
			background-image: url('../images/for-who-sprite.png');
			background-repeat: no-repeat;			
			&--a {
				background-position: 0 0
			}
			&--b {
				background-position: -140px 0
			}
			&--c {
				background-position: -280px 0
			}
		}	
		h3{
			margin-top: 30px;
			margin-bottom: 30px;
		}
		p{
			padding: 0 20px 0 30px;
			font-size: 15px;
		}
		a.link-docs{		 
			position: absolute;
			bottom: 20px;
			margin-left: -85px;
		}
		a.link-arrow{ 	
			display: none;		
			width: 30px;
			height: 30px;
			position: absolute;
			bottom: -15px;
			margin-left: calc(50% - 15px);
			background-image: url('../images/arrow.png');
		} 
		&:hover{ 
			border: 1px solid $color-base;
			.image{
				&--a {
					background-position: 0 -140px;
				}
				&--b {
					background-position: -140px -140px;
				}
				&--c {
					background-position: -280px -140px;
				}
			}
			a.link-arrow{
				display: block;
			}
		}
	}
	&--mobile{
		@include Xlarge-screen(){
			display: none !important;
		} 
		.uk-slideshow{
			li{
				text-align: center;
			}
		}
		.slide-wrapper{
			display: inline-block;
			max-width: 800px;
			margin: auto;
			padding: 0 30px 20px 30px;
			p{
				padding: 0 20px 0 190px;
				font-size: 16px;
				line-height: 1.5;
				text-align: left;
			}
			a{
				float: right;
				padding-right: 20px;
			}
		}
		.image {
			width: 140px; 
			height: 140px;
			float: left;
			background-image: url('../images/for-who-sprite.png');
			background-repeat: no-repeat;			
			&--a {
				background-position: 0 0
			}
			&--b {
				background-position: -140px 0
			}
			&--c {
				background-position: -280px 0
			}
		}	
	}
}

/* 	&__desctop{
	padding: 10px 10px 60px 10px; 
	&__wrapper{
		min-height: 160px;
		margin: 60px 10px;
		&::after{
			content: ''; 
			clear: both;
		}
	}
	&__image{
		float: left;
		&--invert{
			float: right;
		}
	}
	&__desc{
		float: right;
		width: calc(100% - 200px);
		font-size: 20px; 
		line-height: 1.5;
		&--invert{
			float: left;
			text-align: right;
		}
	}		
}

&__mobile{
	.mobile-slider {
		margin: 60px 0;
		line-height: 1.5;
		padding: 10px;
		img{
			margin-bottom:  60px;
		}
		.uk-dotnav{
			margin-top: 20px;
		}
		font-size: 20px; 
		line-height: 1.5;
	}
} */


